[2016-11-01 11:06] alexsorkin opened #2 "AMD vs Apache License terms"
Hi,

I would like to use this project as (de-facto) only continuation of initial AMD's @grfrost effort.
Is it possible to clear AMD vs Apache license compatibility issue?
In my understanding @grfrost is no more working for AMD, but moved to Google.
Would be great of AMD to relicense initial effort under Apache 2 terms.

Thanks.

[2016-11-28 19:41] freemo commented on #2
Hi @alexsorkin ,

From what my lawyers tell me the license that AMD released this under is compatible with the Apache license version 2 already. As such permission from AMD does not need to be granted to re-license it under the Apache license version 2. The important part is just ensuring any attributions remain (copyright notices mostly, but also the names of contributors). But that is also a sti

[2016-12-02 23:01] freemo opened #3 "Aparapi can't find OpenCL"
_From @thejar on January 14, 2015 0:14_

I have been having some trouble getting aparapi to work on my desktop.
I'm running Windows 7 64 bit with an AMD graphics card and all appropriate drivers installed.
output from clinfo: http://pastebin.com/fA0Pke8Y

from latest release on code google (https://code.google.com/p/aparapi/downloads/list)
output from info sample: http://pastebin.com/wiYGEcGP
outp

[2016-12-02 23:01] freemo commented on #3
_From @grfrost on January 14, 2015 0:19_

Looks like our emails crossed.  So you are using OpenCL 1.2.  That should
be fine.

The next thing I would try is running your Aparapi app with

-Dcom.amd.aparapi.enableVerboseJNI=true

It should dump out a bunch of logging messages, including info on
whether it located OpenCL libs.

Gary

On Tue, Jan 13, 2015 at 4:14 PM, thejar notifications@github.com wr

[2016-12-02 23:04] freemo opened #4 "mavenize?"
_From @m0wfo on May 31, 2015 20:52_

Any chance you guys could publish releases on Maven Central? It'd help a whole lot. I can send a PR w/ any necessary changes if it's of interest.

_Copied from original issue: aparapi/aparapi#8_

[2016-12-02 23:04] freemo commented on #4
_From @SubaruWRC on June 1, 2015 1:31_

%100 interested. The primary problems that prevented this were the following:

1) How can we package and deploy native binaries via Maven?

2) We experimented with "fat" JAR options that bundled the native libraries in the JAR, customized the native Java library loader and everything worked beautifully...but...

3) The Aparapi code path for Java 8 Lambda sup

[2016-12-02 23:04] freemo commented on #4
_From @acaloiaro on June 1, 2015 13:10_

Perhaps https://github.com/aparapi/aparapi.lambda should be where lambda code remains—unshackling the primary Aparapi project from "lambda" dependencies.

[2016-12-02 23:04] freemo commented on #4
_From @m0wfo on June 2, 2015 8:57_

+1 for the 2 separate artefacts idea- @acaloiaro you got there before me :)

[2016-12-02 23:04] freemo commented on #4
_From @GoGoris on July 25, 2015 11:20_

If it is difficult with maven, you could check out Gradle. I know that it is still relatively new and not that mature as maven, but it includes a lot of functionality, including native code building (https://docs.gradle.org/current/userguide/nativeBinaries.html). I don't know about this functionality in maven, but from my experience Gradle has always served

[2016-12-02 23:04] freemo commented on #4
_From @rlamothe on October 7, 2015 0:26_

I'm a big fan of Gradle, but I'm not sure exactly how it directly fixes the native code bundling problem. In order to properly bundle native code, someone has to contribute code changes to the classloader code.

[2016-12-02 23:04] freemo commented on #4
_From @dannypurcell on December 22, 2015 15:46_

To help this one along you might find LWJGL's build scripts to be a useful working example. They have the same problem with deploying natives as Aparapi does.
LWJGL settled on deploying a 'platofrm' artifact which includes the native libraries for each platform with 'classifiers'.
https://github.com/LWJGL/lwjgl3
http://search.maven.org/#search%7Cga%

[2016-12-02 23:04] freemo commented on #4
_From @tcha8595 on January 6, 2016 1:0_

Lambda support should be split into a separate project and natives bundled. Maven support would be great.

[2016-12-02 23:04] freemo commented on #4
_From @grfrost on January 6, 2016 1:4_

+1 splitting out the lambda stuff if it is in the way of mavenization.

The agent form of  aparapi.dll/.so was only required to intercept lambda
synthetically generated classes which we can;t get from the classpath.

Might even be able to do this with a java agent.

Gary

On Tue, Jan 5, 2016 at 5:00 PM, tcha8595 notifications@github.com wrote:

[2016-12-02 23:04] freemo commented on #4
_From @NeoP5 on February 26, 2016 13:7_

+1
btw: when is the next release planned to be rolled out?

[2016-12-02 23:04] freemo commented on #4
_From @d2a-raudenaerde on February 26, 2016 13:43_

+1 for maven, and +1 for a new release :)

[2016-12-02 23:04] freemo commented on #4
_From @mibrahim on April 13, 2016 2:18_

I did some local updates that might be beneficial to this thread. In my project I packed both the 64 and the x86 .so's in the resources. At runtime, I check the arch and unpack the correct .so in /tmp . I updated OpenCLLoader to check if the library exists in "/tmp", and if it does then it loads it using System.load instead of System.loadLibrary as it uses

[2016-12-02 23:04] freemo commented on #4
_From @mibrahim on April 13, 2016 2:21_

I meant to answer the packing of binaries question.

[2016-12-02 23:04] freemo commented on #4
_From @rlamothe on September 30, 2016 18:31_

Sorry this has taken so long to get back to...I was just reminded of this when looking at this Gradle solution today https://github.com/rholder/gradle-one-jar

[2016-12-02 23:04] freemo commented on #4
_From @stepan-romankov on October 25, 2016 9:19_

+1

[2016-12-02 23:04] freemo opened #5 "Aparapi and Ray Casting (Ray Tracing)"
_From @macroing on September 17, 2015 9:23_

Hello!

I've used Aparapi for a while now and I really like it. The project I've been working on is an open source realtime Ray Caster (Ray Tracer).

But now I'm interested in hearing your input on Aparapi- / OpenCL specific optimizations for a project like this. Would it be a good idea to use the local and / or global buffer annotations? Or do you have

[2016-12-02 23:04] freemo commented on #5
_From @SubaruWRC on September 17, 2015 16:6_

I hate to say this, but it really depends on your computation/workload. Have you looked at any of the samples/examples on Github to see if they match your use cases?

On September 17, 2015 2:23:18 AM PDT, macroing notifications@github.com wrote:

-- 
Sent from my mobile device. Please excuse any typos or autocorrect mistakes.

[2016-12-02 23:04] freemo commented on #5
_From @macroing on September 17, 2015 16:35_

Okay I see. Yes, I looked at some of the examples. I even based the initial code on the approach used by the Fractal example.

What concerns the computation or workload, then I guess it's quite heavy. The more rays the Ray Tracer "fires" per pixel, the more workload per pixel. Then there's also quite a few pixels to process.

[2016-12-02 23:04] freemo opened #6 "[Bounty $25] Using tanh and NPE in ClassModel"
_From @stoerr on October 8, 2015 17:37_

I was trying to use tanh by declaring

[code]

Unfortunately, this exposes a NullPointerException:

java.lang.NullPointerException
    at com.amd.aparapi.internal.model.ClassModel.parse(ClassModel.java:2542)
    at com.amd.aparapi.internal.model.ClassModel.parse(ClassModel.java:2526)
    at com.amd.aparapi.internal.model.ClassModel.<init>(ClassModel.java:14

[2016-12-02 23:04] freemo commented on #6
_From @stoerr on October 8, 2015 19:40_

Also, the @OpenCLMapping doesn't seem to have any effect on the generated code. As a workaround, I used

[code]

and expected this to translate to the OpenCL tanh function, but the whole function is translated to OpenCL as is.

[2016-12-02 23:04] freemo commented on #6
_From @grfrost on October 8, 2015 22:26_

Were you adding this to the source of Kernel.java in the aparapi code
tree?  Or your subclass?

On Thu, Oct 8, 2015 at 12:40 PM, Hans-Peter Störr notifications@github.com
wrote:

[2016-12-02 23:04] freemo commented on #6
_From @stoerr on October 9, 2015 9:14_

I was using a subclass. I assume it would have worked if I changed and built aparapi myself.

[2016-12-02 23:04] freemo commented on #6
_From @rlamothe on October 26, 2015 6:55_

Is this still an issue with the latest Trunk code?

[2016-12-02 23:04] freemo commented on #6
_From @stoerr on October 30, 2015 18:7_

Unfortunately I couln't build it, since there was an error:

C:\R\GitHub\aparapi\com.amd.aparapi\src\java\com\amd\aparapi\device\Device.java:165: error: no suitable method found for hashCode(long)
      return Long.hashCode(getDeviceId());
                 ^
    method Long.hashCode() is not applicable
      (actual and formal argument lists differ in lengt

[2016-12-02 23:05] freemo opened #7 "Issue when running with netbeans?"
_From @iamDecode on November 24, 2015 19:0_

When running any sample project, I seem to be getting the following error:

[code]

This leads me to think that there might be some issues with running using netbeans, as the attribute `org.netbeans.SourceLevelAnnotations` is not recognised. Due to a warning it then stops running on the GPU, tries JTP, and even that fails..

Does anyone have a clue what

[2016-12-02 23:05] freemo commented on #7
_From @grfrost on November 24, 2015 20:30_

It looks like the GPU you have does not support fp64 (double).

If you did not intend to use doubles in your java beware of 'float f =
2.0;'   (here 2.0 is a double constant), use 'float f = 2f;'

Do you know what graphics card you have?

Gary

On Tue, Nov 24, 2015 at 11:00 AM, Dennis Collaris notifications@github.com
wrote:

[2016-12-02 23:05] freemo commented on #7
_From @SubaruWRC on November 24, 2015 20:48_

This is a missing asparagus feature on OS X. I have the same exception on my Mac, if you look at the GPU features, Apple called the Double capability something non-standard.

I think there may be an old bug filed on Google about it...

Sent from my iPhone --- Please excuse any typos or autocorrect mistakes

[2016-12-02 23:05] freemo commented on #7
_From @iamDecode on November 24, 2015 23:27_

Oh wow, thanks! I will try to use floats soon and report back if this has any effect. For what it's worth, my graphics cards is NVIDIA GeForce GT 650M

[2016-12-02 23:05] freemo commented on #7
_From @iamDecode on November 25, 2015 7:12_

So I made sure all input are of float[] format, but it continues to show me the same error. This is the code, where all variables are either float[](uVec, vVec, viewVec, volumeCenter), or int (imageCenter, imageWidth, imageHeight, totalRange, size). I even added unnecessary casts to float hoping to circumvent that divisions would yield a double, but sti

[2016-12-02 23:05] freemo commented on #7
_From @grfrost on November 25, 2015 23:10_

Yeah the java.lang.Math floor function actually take doubles.  So the
bytecode references 'doubles' and aparapi will 'punt' on converting to
OpenCL (because your GPU does not claim to support fp64 - although it
probably does).

To help here the Aparapi Kernel class has wrappers for common Math.XXXX
methods

Try using Kernel's math wrapper Kernel.floor(fl

[2016-12-02 23:05] freemo commented on #7
_From @iamDecode on November 26, 2015 10:45_

Ah thanks, it appears to work now! I read the QuickReference too quickly and thought that Math functions were automatically parsed to openCL ones.
Interestingly GPU does not prove any computational benefit for my method.. with is rather odd: I'm doing some basic ray casting and would expect GPU to be better with this. It takes the GPU around 200ms to c

[2016-12-02 23:05] freemo commented on #7
_From @grfrost on November 26, 2015 20:50_

Glad you got it working Dennis.

We do map the Math.XXX methods, but do them 1:1. So if the code has
Math.floor(double) we route it to the Kernel.floor(double) version, which
obviously does not help  ;)

The trick is always maximizing compute and minimizing data transfers.    If
you want me to take a quick look at your code, I would be happy to do so.

G

[2016-12-02 23:05] freemo opened #8 "Forward references"
_From @Vineg on January 7, 2016 16:12_

There is forward references when there is no more new methods to discover, yet call tree is not completely analyzed. I fixed it here https://github.com/Vineg/aparapi/commit/4386305bd5d93ca95146018d3106a46918b5b009 but since patch appeared to be quite ugly, I didn't create pull request.

_Copied from original issue: aparapi/aparapi#22_

[2016-12-02 23:05] freemo commented on #8
_From @rlamothe on January 7, 2016 17:21_

What needs to happen to clean-up pull request?

Sent from my iPhone --- Please excuse any typos or autocorrect mistakes

On Jan 7, 2016, at 8:13 AM, George Vinokhodov <notifications@github.com<mailto:notifications@github.com>> wrote:

There is forward references when there is no more new methods to discover, yet call tree is not completely analyzed. I fix

[2016-12-02 23:05] freemo commented on #8
_From @Vineg on January 7, 2016 18:59_

It is pretty difficult question in general, since most mess comes from formatting differences. In this particular case I could probably rewrite patch without autoformatting.

[2016-12-02 23:05] freemo commented on #8
_From @grfrost on January 7, 2016 19:0_

Yes i took a look at the patch and noticed that most of the changes were
formatting.

It would be great to have a patch without the formatting 'noise'

Gary

On Thu, Jan 7, 2016 at 10:59 AM, George Vinokhodov <notifications@github.com

[2016-12-02 23:05] freemo opened #9 "Issue with ProfileInfo timers?"
_From @jjfumero on February 8, 2016 13:19_

I am interested in measuring the timers for copy in, execution and copy out of OpenCL code generated by Aparapi. If I do this on AMD GPU, the data transfer is 0 .

[code]

If I print the timers for data transfer + kernel execution like this:

[code]

I get these timers:

 W : 0 (ns)
 X : 6492297 (ns)
 R : 0 (ns)

This happens ONLY on AMD GPU (AMD Radeon

[2016-12-02 23:05] freemo commented on #9
_From @jjfumero on March 11, 2016 14:24_

Hi,
  I investigated this case. Aparapi uses CL_MEM_USE_HOST_PTR when the OpenCL buffer is created.

[Link to source](https://github.com/aparapi/aparapi/blob/6319738b58b1567cd36640610f4d8181a31743c4/com.amd.aparapi.jni/src/cpp/runKernel/Aparapi.cpp#L350)

Part of the source code:

[code]

The [OpenCL standard](https://www.khronos.org/registry/cl/sdk/1.2/do

[2016-12-02 23:05] freemo commented on #9
_From @grfrost on March 11, 2016 16:10_

Hey.  Thanks for doing this work and reporting back to the community.

I must confess I put this code together fairly late in the project (piggy
backing on some great work from Eric) and have always felt a bit suspect
about it.

Again thanks for following up.

Gary
On Mar 11, 2016 6:24 AM, "Juan Fumero" notifications@github.com wrote:

[2016-12-02 23:05] freemo opened #10 "Kernel error for MonteCarlo on NVIDIA and AMD GPUs"
_From @jjfumero on February 17, 2016 10:23_

I am running MonteCarlo simulation within Aparapi. For testing I am using Intel OpenCL locally. I am running with JDK 1.8_65. The kernel that Aparapi generates is correct and the result when I compare to the sequential code is correct as well. However if I use the GPU, NVidia GPU or AMD GPU, the kernel is not correct. One declaration type is missing.

M

[2016-12-02 23:05] freemo commented on #10
_From @SubaruWRC on February 17, 2016 12:53_

Hmm, so it's not declaring the variable as a long. Does this also occur if you declare the value as a double?

Sent from my iPhone --- Please excuse any typos or autocorrect mistakes

[2016-12-02 23:05] freemo commented on #10
_From @ericcaspole on February 17, 2016 13:13_

I think you must be building the Aparapi code slightly differently, in the first case that works you have symbols, and in the failing case you have the generated symbol names like i_1 etc.
See if you can build the second case with javac -g and see what happens. Regards, Eric 

Sent from Samsung tablet.

-------- Original message --------
From: Juan F

[2016-12-02 23:05] freemo commented on #10
_From @jjfumero on February 17, 2016 15:19_

Hi @ericcaspole, with javac -g,  it works! The kernel is correct (same version as the first one). I have other kernels running such NBody, Kmeans and Blackcholes on NVIDIA and AMD. Those I do not need the debug info. Only in this case, Montecarlo.

Thanks

[2016-12-02 23:05] freemo commented on #10
_From @grfrost on February 17, 2016 15:31_

It looks like a bug trying to determine the scope of the var.

I have a workaround which I think will work.

Replace

 long seed = (long)idx;

With

 long seed = 0L;

 seed = (long)idx;

For some reason I think the cast is confusing the bytecode parser and
it is not seeing this as a declaration.

Let me know if this works.  It should be a fairly simple f

[2016-12-02 23:05] freemo commented on #10
_From @grfrost on February 17, 2016 15:34_

Eric is correct.

When we have local var info (-g) we can use this table to confirm the scope
of vars.

Without this we try to make a 'fake one'.  It looks like this creation of a
fake local variable table is broken here.  My suggestion above, should make
it much easier for the code which creates the 'fake' table.

Gary

On Wed, Feb 17, 2016 at 7:31 AM,

[2016-12-02 23:05] freemo commented on #10
_From @jjfumero on February 17, 2016 15:41_

Hi Gary,
  thanks for the explanation.  I tried your solution, but the kernel is still not correct (unless I compile with -g) This is part the auto-generated kernel.

[code]

Juan

[2016-12-02 23:05] freemo commented on #10
_From @grfrost on February 17, 2016 18:7_

Thanks for getting back.  Hopefully -g will work for you in the short term.

I will try to take a look at the issue here.

Gary
On Feb 17, 2016 7:41 AM, "Juan Fumero" notifications@github.com wrote:

[2016-12-02 23:05] freemo opened #11 "Kernel execution on a chosen device without specifying the EXECUTION_MODE"
_From @zjcong on March 13, 2016 16:51_

Doc [Choosing Specific Devices for Execution](https://github.com/aparapi/aparapi/blob/master/doc/ChoosingSpecificDevicesForExecution.md) points out that one can choose a specific device for kernel execution.

However it seems that Kernel.setExecutionMode() is deprecated and aparapi is unable to automatically set the execution mode for a specific device.

_Co

[2016-12-02 23:06] freemo opened #12 "Will you be supporting SPIR-V?"
_From @volkertb on March 26, 2016 13:35_

Since SPIR-V has been announced and blessed by the Khronos Group as the new universal intermediate representation format for both shader and kernel code, for use not only in Vulkan, but also in OpenCL going forward, I was wondering what your plans are for Aparapi to support compiling the Java kernel code to SPIR-V in addition to the current functionality?

[2016-12-02 23:06] freemo opened #13 "is there a way to pass an unsafe memory region"
_From @alexandrubordei on April 15, 2016 9:58_

Is there a way to pass a _sun.misc.Unsafe_ allocated memory block to the Aparapi kernel and back again? I'm trying to avoid a memory copy if I can help it but I am unsure how to instruct Aparapi push this generic buffer region down to the kernel and back again if it's the case.

thanks,
alex

_Copied from original issue: aparapi/aparapi#29_

[2016-12-02 23:06] freemo opened #14 "Is there any issue about data types?"
_From @savaskoc on April 21, 2016 20:27_

Hi,

I have following [code](https://gist.github.com/anonymous/def807372fda240ca2664378cef25e02).

[code]

When my code runs on aparapi, it generates wrong values as you can see its result :disappointed:

[code]

_Copied from original issue: aparapi/aparapi#30_

[2016-12-02 23:06] freemo commented on #14
_From @grfrost on April 21, 2016 22:25_

Do you get this off you run in jtp ?
On Apr 21, 2016 1:27 PM, "Savaş KOÇ" notifications@github.com wrote:

[2016-12-02 23:06] freemo commented on #14
_From @savaskoc on April 22, 2016 10:31_

@grfrost It produces true results when I set execution mode to JTP or CPU. I think a overflow happens in GPU mode. Maybe it uses 32bit long?

[2016-12-02 23:06] freemo commented on #14
_From @grfrost on April 22, 2016 16:39_

I doubt it. What GPU card is this?
On Apr 22, 2016 03:31, "Savaş KOÇ" notifications@github.com wrote:

[2016-12-02 23:06] freemo commented on #14
_From @savaskoc on April 22, 2016 17:48_

Iris 5100. I'm using macbook pro late 2013 on win10

[2016-12-02 23:06] freemo commented on #14
_From @savaskoc on April 26, 2016 15:42_

Is there any progress?

[2016-12-02 23:06] freemo opened #15 "Private superclass fields missing from struct This_s"
_From @Pr0methean on July 6, 2016 2:19_

When I create the following classes:

[code]

and then call init() on a ProductKernel, I get this error:

[code]

Changing the visibility of the inherited fields to protected seems to fix this. I suspect the problem is that the bytecode-to-OpenCL compiler isn't looking at the superclass bytecode, even when the superclass isn't immediately Kernel.

_Copied f

[2016-12-02 23:06] freemo commented on #15
_From @grfrost on July 6, 2016 21:14_

Great catch.  I suspect you are right.  Sadly I don't recall a great deal
of testing using class hierarchies. Actually I am surprised (but glad you
have a workaround), it works if output is protected or public.

I will take a quick look and see if I spot anything obvious.

Gary

On Tue, Jul 5, 2016 at 7:19 PM, Pr0methean notifications@github.com wrote:

[2016-12-02 23:07] freemo opened #16 "Nvidia mobile GPU"
_From @Oyatsumi on July 11, 2016 21:49_

Currently having the following issue:

OpenCL 1.2 CUDA 8.0.0
!!!!!!! clCreateContextFromType() failed device not available
jul 11, 2016 3:20:10 AM com.amd.aparapi.internal.kernel.KernelRunner warnFallBackAndExecute
ADVERT╩NCIA: Reverting to Java Thread Pool (JTP) for class com.CopyKernel: initJNI failed to return a valid handle
!!!!!!! clCreateContextFromTy

[2016-12-02 23:07] freemo commented on #16
_From @grfrost on July 12, 2016 1:12_

You will need the OpenCL headers and libs for your platform. In your case
you will need them from NVidia. Usually comes with CUDA SDK (or used to).

The fact that Intel is working means you must have downloaded Intels's SDK
(header and lib) so your code can 'link'.   But to run (on GPU) you will
need a working NVidia OpenCL runtime (dll and driver) on your la

[2016-12-02 23:07] freemo commented on #16
_From @Oyatsumi on July 12, 2016 1:26_

Dear grfrost,

Thanks for the reply.

I dont think it is a driver issue, please take a look at this post:
https://github.com/tigerneil/aparapi/issues/147

My drivers and paths are set correctly.

Its the same problem. And I guess there is still no solution.

[2016-12-02 23:07] freemo commented on #16
_From @grfrost on July 12, 2016 3:57_

So you can test. The C++ code  (do you know C++/C?) is checking the
response from the driver to see if the driver supports specific versions of
OpenCL.  It is checking for 1.1 at present just change the code to check
for 1.2 instead.

I think the thread you referenced indicates the file and possibly line # to
change.

Gary

On Mon, Jul 11, 2016 at 6:26 PM, Ér

[2016-12-02 23:07] freemo commented on #16
_From @Oyatsumi on July 12, 2016 22:58_

Dear Gary,

Thank you again for the response.

Yes, the thread does indicate that, but it does also indicate that the problem is solved on the source file.
Please take a look at that file and line, it is already there.

Let's see:

// fix this so OpenCL 1.3 or higher will not break!
            if (   !strncmp(platformVersionName, "OpenCL 1.2", 10)

[2016-12-02 23:07] freemo commented on #16
_From @grfrost on July 13, 2016 15:53_

Are you building aparapi from source?  Or using a pre-built binary?

Can you run OpenCL apps from the commandline?

I think you indicated two issues.  1) that your drivers were not installed
and 2) that aparapi could not locate a 1.2 OpenCL device.

Have you fixed 1) ;) because #2 will look like #1 ;)

Gary

On Tue, Jul 12, 2016 at 3:58 PM, Érick Oliveira Ro

[2016-12-02 23:07] freemo commented on #16
_From @Oyatsumi on July 13, 2016 23:18_

Dear Gary,

I'm using the dlls provided in the Release tab here in github. I'm currently using the x64.

Yes, I do, please take a look:
![image](https://cloud.githubusercontent.com/assets/8701389/16822923/84c047fc-4936-11e6-9f1c-11734d78eea2.png)
I've compiled and run that:  https://saintdako.github.io/blog/2015/07/09/windowsOpenCL/

And again, I cant run A

[2016-12-02 23:07] freemo commented on #16
_From @grfrost on July 14, 2016 0:40_

So my guess is that the fix you need is in the source, but the dll's do not
contain the fix.

If you have enough to build main.cpp as opencl app.  Then with 'some
tweaking' you should be able to build libaparapi.so for your windows
machine.

Assuming you have the aparapi source (with the fix) from git hub, you
 should be able to  go to com.amd.aparapi.jni dir

[2016-12-02 23:07] freemo commented on #16
_From @Oyatsumi on July 14, 2016 0:55_

Thanks for the reply Gary.

Yep, that is also what I am suspecting.

I will try for sometime to fix this, but I think the effort will not be rewarding.

My idea was just to compare the performance of Aparapi on a task against CUDA and other CPU implementations. I really like the idea behind Aparapi, and I am a Java programmer for a long time.

So, probably I

[2016-12-02 23:07] freemo commented on #16
_From @grfrost on July 14, 2016 2:4_

Yeah it's annoying.   Building on windows is a pain (thanks to microsoft),
but the drivers on Windows are headily optimized.  So Windows is a great
platform to run on, but awful to build for.

Linux and MacOSX just have all the tools you need, or make it easy to
build.

Good luck in your endeavour.  Sorry I can't be more help.

Gary

On Wed, Jul 13, 2016 at 5:

[2016-12-02 23:07] freemo opened #17 "Definition of a constant"
_From @Oyatsumi on July 11, 2016 22:6_

Where is the definition of com_amd_aparapi_internal_jni_KernelRunnerJNI_JNI_FLAG_USE_ACC
located in the source code?

It has not been defined and I cant compile the source code.

Thank you in advance.

_Copied from original issue: aparapi/aparapi#33_

[2016-12-02 23:07] freemo commented on #17
_From @grfrost on July 12, 2016 1:7_

javah will create a header for this during the build.

So if you use javah on class com.amd.aparapi.internal.jni.KernelRunnerJNI
class file this will create a header file which contains the #defines for
these constants as well as as the function prototypes for JNI linkage with
the JVM.

Gary

On Mon, Jul 11, 2016 at 3:06 PM, Érick Oliveira Rodrigues <
notifica

[2016-12-02 23:07] freemo opened #18 "A kernel cannot be recompiled after it is disposed"
_From @sharpTrick on August 19, 2016 2:4_

Any time a kernel is disposed with the intent of recompiling results in attempts to fall back to next device. This bug specifically effects this code in [KernelRunner.java L1348](https://github.com/aparapi/aparapi/blob/master/com.amd.aparapi/src/java/com/amd/aparapi/internal/kernel/KernelRunner.java#L1348)

I believe that it is specifically due to the per

[2016-12-02 23:07] freemo opened #19 "Can I take over development of this project?"
_From @freemo on October 17, 2016 15:20_

Hi, my project has a pressing need to rely on aparapi and as such I have been contributing on the project in my own repositories. Since I will be contributing significant amount of work I'd like to contribute back that effort. You are of course welcome to adopt the project back into yours but you will find a lot has changed and that may be difficult at thi

[2016-12-02 23:07] freemo commented on #19
_From @grfrost on October 17, 2016 19:10_

Hey Freemo

As the original developer/architect I have no problem with this and am glad
that you are extracting value from Aparapi and adding value by making it
more readily available.

My only caution would be the relicensing under Apache, I am not a lawyer
but you might need AMD's permission to do that.

I look forward to pulling from git and tinkering.

[2016-12-02 23:07] freemo commented on #19
_From @paxcalpt on October 17, 2016 19:48_

Hi Jeffrey,

Just adding my own support to this.

We extensively use aparapi in academic research for image processing. We
already have a couple of papers on analytics that take advantage of aparapi
extensively.

I'm all for seeing further support of aparapi, one minor request would be
to keep support for multiple OSs as our user base mostly works on OSX

[2016-12-02 23:07] freemo commented on #19
@grfrost Hey. It is indeed Machine Learning. I worked on a pure Java Machine learning library a while back. I'm in the middle of writing a new one from scratch backed by graph databases (including in-memory graph databases) and GPU acceleration. Ferma is already a ORM for graph databases that fulfilled half of my needs. Aparapi is the other half/

@paxcalpt  I have every intention of maintaining o

[2016-12-02 23:07] freemo commented on #19
I also created a aparapi gitter room if anyone wants to join: https://gitter.im/Syncleus/aparapi

[2016-12-02 23:07] freemo commented on #19
_From @SubaruWRC on November 15, 2016 21:17_

Everyone,

Sorry it had taken me so long to reply, life is busy these days. I have a couple of points I'd like to make, hopefully this discussion can lead to some positive outcomes:
- As the current lead of Aparapi Github effort, I wanted to build a strong community of people who could feel free to contribute to this effort directly, without having to

[2016-12-02 23:07] freemo commented on #19
Thank you for the reply, please don't ever feel obligated. Open-source as
you said is volunteering, and I am most grateful for any time you have ever
or will ever give to the project. I certainly am not complaining about the
limited participation, totally understandable.

I would not be opposed to becoming an admin of the repository. and to
moving my efforts over to this group. Of course we would

[2016-12-02 23:07] freemo commented on #19
_From @rlamothe on November 16, 2016 22:42_

I appreciate your thoughtful response, but I am not sure I am following some of your concerns. Right now, the project already has a number of "admins" who are not required to fork the effort nor ask for my permission before committing code changes. You can see the list at https://github.com/orgs/aparapi/people. The effort is also setup as an organizatio

[2016-12-02 23:07] freemo commented on #19
If development can proceed in a way that incorporates my concerns then I
have no real objection. There are currently 4 separate repos, fully working
under maven and libtools. Does this mean we can fully import those changes
immediately, as well as release them to maven central? The impression I got
was that there would be more of a process to get things like this adopted,
but if i was incorrect th

[2016-12-02 23:07] freemo commented on #19
_From @rlamothe on November 17, 2016 0:43_

Sure, I can add you as an admin, no problem. But why the push to become the sole maintainer/owner of the repo? I'm not sure what that gives you that being an admin does not.

[2016-12-02 23:07] freemo commented on #19
I don't wan't to be the sole maintaner, just the owner, I welcome other
maintainers to be a part of it.

The advantage for me personally is to see my company fund the project,
which means the project will accelerate faster. The advantage to the
company is branding. By making it an official project of the company, then
my company gains recognition should the project become popular down the
road.

S

[2016-12-02 23:07] freemo commented on #19
_From @grfrost on November 17, 2016 16:10_

Hey Jeffery.

You may have mentioned it before, but can you tell me what company you are
referring to? Also what domain they work in?

Just curious really...

Gary

On Nov 16, 2016 16:47, "Jeffrey Phillips Freeman" notifications@github.com
wrote:

[2016-12-02 23:07] freemo commented on #19
Of course. Syncleus is the name of the company. It is a small company with
a large network of contractors to call on when needed. We make between one
and two million a year as a company (which isnt very much for a company).

We are int he Big Data and Machine Learning arena. Two of the most relevant
projects we host is Ferma, which is a ORM for graph databases (sometimes
called a OGM instead of an

[2016-12-02 23:07] freemo commented on #19
_From @rlamothe on November 18, 2016 18:0_

Okay, so I think we all need to step back here for a second and actually dig into this a little deeper. First thing, when I start digging into Syncleus it appears to be a single employee corporation that is most likely an independent consulting venture, working on very small contracts over time. That by itself is perfectly fine, but when I peruse the Syn

[2016-12-02 23:07] freemo commented on #19
Valid points. As I said Syncleus IS a small organization. Me, its board,
and two other executives make up the whole team. As I said we only pull in
1 - 2 million a year. So this was never hidden.

As for removing attributions. Aparapi was only added to the website a few
days ago shortly before grfrost responded. At the time it appeared that the
effort would be moved to us. Now that that is in ques

[2016-12-02 23:07] freemo commented on #19
Also to further elaborate on the last point lets look at each project
posted that is active and listed on the site and then see if they fit your
claim that they are just forks of other projects with the attribution
changed:

https://github.com/Syncleus/Ferma - This project has over 400 commits and
the graph show the vast majority are from synceus, furthermore it is
apparent that none of the code p

[2016-12-02 23:07] freemo commented on #19
Just want to say one final thing. Sorry if my last email sounded
antagonistic. I reread it and saw it may come across this way. My apologies
if you felt this way as well, it wasnt my intention. I do sincerely hope
any valid concerns you can point out will be fixed but I suspect for the
most part they seem unfounded. I could be mistaken. Mostly just sorry if my
tone didnt convey that.

Also one fin

[2016-12-02 23:07] freemo commented on #19
Please file an issue report on any of the Syncleus projects where you see
attribution is missing or something about it is misleading. Any valid
issues will be addressed and rectified.

On Fri, Nov 18, 2016 at 1:34 PM, Jeffrey Freeman freemo@gmail.com wrote:

[2016-12-02 23:07] freemo commented on #19
_From @george-hawkins on November 23, 2016 20:32_

My 2 cents:

@rlamothe have talked about what they hoped for for this project - that it would be maintained by a group of committers who formed the heart of a vibrant community.

That would be lovely - but it hasn't been achieved. There may be [multiple committers](https://github.com/aparapi/aparapi/graphs/contributors) but they are not committing

[2016-12-02 23:07] freemo commented on #19
I just wanted to add that after @george-hawkins post we added back some text referencing the original license for transparency. We wanted to do this in a separate file (as the readme is usually reserved for important quick-start type information). So do expect the location of this notice to change. But in the short term I felt it was important to get the notice out there as quick as possible rathe

[2016-12-02 23:07] freemo commented on #19
_From @rlamothe on November 28, 2016 15:25_

Hope everyone had a wonderful Thanksgiving. Back to the real-world now. Once again, let's step back and take another look at this thread, addressing each point individually. Ideally we can put this thread to rest.

1)	How to become an Aparapi core contributor: I did not become the project owner of Aparapi on GitHub overnight. If you study the history of

[2016-12-02 23:07] freemo commented on #19
_From @george-hawkins on November 28, 2016 15:40_

Thanks for a long and considered answer. The points are all well made. It was unfair of me to describe the project as "moribund" - it's such a substantial and interesting piece of work that I guess I just feel sorry to see that it's not being more actively developed. But lack of large scale active development is not a good enough reason to hand ov

[2016-12-02 23:07] freemo commented on #19
I will likewise address each of your points.

1. No one is trying to undervalue your contributions. So let me be clear in
saying your contributions are both appreciated and respected. No one is
saying you don't have the respect of the community. The issue has more to
do with the fact that the project has been largely idle and you yourself
indicated you had very limited time to contribute. As for S

[2016-12-02 23:07] freemo commented on #19
For the record we addressed the one valid concern you brought up with regards to attribution. The full description of contributions that were replaced by a simplified list now have the full descriptions added back. This should satisfy all legitimate concerns you have regarding attribution. If you can find any others please let me know:

https://github.com/Syncleus/aparapi/commit/729a036a722474e367

[2016-12-02 23:07] freemo commented on #19
Also we reviewed the claim regarding copyright notices. As can be clearly seen ALL files retain both the original header and original AMD copyright notice, as well as adds the new license header and new copyright notice (both of which are considered good practice when relicensing software). The following is an example from one of the files ( https://github.com/Syncleus/aparapi/blob/master/src/main

[2016-12-02 23:07] freemo commented on #19
Since one of you're points of contention was the fact that I took down the website (which had some acknowledgements). I now have http://aparapi.com up with all those attributions included again. That should address all your concerns regarding attributions that you mentioned here.

[2016-12-02 23:07] freemo opened #20 "error: function "getClass" declared implicitly"
_From @ppeter5 on November 20, 2016 12:16_

I am running with JDK 1.8_101.
Here the details, this is the Aparapi Kernel:

    public static class TrainKernel extends Kernel {
        private final int maps[];
        private final int vectors[];
        private final int tmp[];
        private final int mapSize, vectorSize, vectorsCount, epoch, bSize = 64;

        TrainKernel(int[][] vectors, int

[2016-12-02 23:07] freemo commented on #20
_From @grfrost on November 21, 2016 1:29_

Hey Peter

That is weird.

It looks like the 'this.bSize' in your code  is causing this.

 final int bSize = this.bSize;

My guess is that if you remove 'this' it will work.

BTW If these fields are final, aparapi should be able to use them
directly. So I am not sure why you are copying from field final ints
to kernel final ints.

Thanks for posting code

[2016-12-02 23:08] freemo opened #21 "Errors in Quick Reference Guide"
_From @dlippold on November 21, 2016 16:16_

I found some typos and small errors in the "Aparapi Quick Reference Guide" (QuickReference.pdf):

- Section "Create an anonymous inner class extending com.amd.aparapi.Kernel"

   Should "single dimension arrays of primitive from the call-site" be "single dimension arrays of primitive elements of final fields from the call-site"?

   The statement "This

[2016-12-02 23:08] freemo opened #22 "Method getGroupSize not found"
_From @dlippold on November 21, 2016 16:34_

When I use the method "getGroupSize()", defied the the table in section "Kernel methods to determine execution identity" in the Quick Reference Guide I get the following error message when compiling the class:

[code]

Btw: Why are the methods from the table, in particular the method "getGlobalId()", not defined in the API documentation of the class "Ke

[2016-12-02 23:08] freemo opened #23 "Single sequential execution reports error"
_From @dlippold on November 21, 2016 17:1_

When I execute the example "add" (on Linux with JDK 7) in the single sequential Java loop, set by the property "-Dcom.amd.aparapi.executionMode=SEQ", I get the following error message:

Steps to reproduce on Linux:

1. "java -version" gives "OpenJDK Runtime Environment (IcedTea 2.6.7) (7u111-2.6.7-2~deb7u1)
OpenJDK 64-Bit Server VM (build 24.111-b01, mix

[2016-12-02 23:08] freemo commented on #23
_From @SubaruWRC on November 21, 2016 17:22_

I believe that is the correct behavior with SEQ mode. Does the example work correctly in JTP mode?

Sent from my iPhone --- Please excuse any typos or autocorrect mistakes

[2016-12-02 23:12] freemo commented on #4
Code is now fully mavenized, closing ticket.

[2016-12-02 23:12] #4 closed

[2016-12-02 23:13] freemo commented on #19
This was carried over from the original project for reference. Closing it though.

[2016-12-02 23:13] #19 closed

[2016-12-02 23:33] freemo commented on #2
@alexsorkin Is there anything else I can do for you, do you mind if I close this ticket?

Final word seems to be that the licenses are compatible so there is implied permission already given.

[2016-12-02 23:34] freemo commented on #2
For future reference this file is specified and needed to satisfy the old license, otherwise the Apache License 2 is a compatible license and will be the license moving forward.

https://github.com/Syncleus/aparapi/blob/master/ATTRIBUTIONS.md

[2016-12-03 19:45] freemo commented on #2
@alexsorkin  closing this until/if i hear back from you.

[2016-12-03 19:45] #2 closed

[2016-12-03 19:46] freemo commented on #22
This will need to be addressed int he documentatiion.

[2016-12-03 19:47] #20 closed

[2016-12-03 19:47] #18 closed

[2016-12-03 19:47] #17 closed

[2016-12-03 19:48] #12 closed

[2016-12-03 19:49] freemo commented on #11
This requires the documentation to be updated.

[2016-12-03 19:49] #9 closed

[2016-12-03 19:51] #5 closed

[2016-12-03 19:51] #3 closed

[2016-12-03 20:10] freemo commented on #8
This code has been merged in and pushed.

[2016-12-04 01:41] freemo commented on #8
Reopening this, seemed there were some outstanding bugs...

[2016-12-04 07:50] alexsorkin commented on #2
Thank much, I've answered my question.

2016-12-03 21:45 GMT+02:00 Jeffrey Phillips Freeman <
notifications@github.com>:

[2016-12-05 03:42] freemo opened #25 "Integrate in ucores code"
Integrate in the ucores code found here: https://gitlab.com/mora/aparapi-ucores

Also this may be relevant: https://gitlab.com/mora/java-ucores

[2016-12-10 22:01] freemo opened #27 "Configure aparapi to load native libraries dynamically"
Currently aparapi needs the native libraries installed on the system. We want to do this dynamically through a dependency in maven so the user doesnt need to do this.

[2016-12-10 22:20] freemo commented on #27
Fixed in this commit: https://github.com/Syncleus/aparapi/commit/7d63bff221cdf9d1a77a3ebbd78073c45c052978

[2016-12-10 22:20] #27 closed

[2016-12-12 22:46] freemo opened #30 "Calling createProgram results in exception"
Anytime createProgram is called an exception is thrown due to improper linking.

[code]

This is related to this issue: https://github.com/Syncleus/aparapi-examples/issues/3

[2016-12-13 00:12] freemo commented on #30
After fixing the last bug a new one came up where kernel = null. For this reason it seems the binaryKey specific code was never properly tested. This means we can abandon this on the 2.x branch and instead use the method proposed by ucores, which supposidly is tested a bit better and actually works.

[2016-12-14 03:36] freemo opened #31 "Make repo commitizen friendly"
Add commitizen config files to make the repo commitizen friend.

[2016-12-14 04:02] #31 closed

[2016-12-14 04:06] freemo opened #32 "Need to add a CONTRIBUTING file"
Need to create a CONTRIBUTING file with some relevant info in it.

[2016-12-14 04:10] freemo opened #33 "Fix line endings."
We already added a .gitattributes file to enforce line endings but we still need to convert all the line endings to unix style in the code.

[2016-12-14 04:12] #32 closed

[2016-12-14 04:12] #33 closed

[2016-12-16 03:56] freemo opened #34 "Error: `CXXABI_1.3.8' not found"
This issue effects Aparapi core, so should be addressed here: https://github.com/Syncleus/aparapi-jni/issues/1

[2016-12-16 03:59] #34 closed

[2016-12-16 08:49] freemo opened #35 "OSX Travis environment not working"
Had to disable the OSX travis environment until we get it working.

https://travis-ci.org/Syncleus/aparapi/jobs/184472845#L839

[2016-12-29 04:32] freemo opened #37 "Exception thrown when running on Windows."
The following exception occurs when trying to run Aparapi on windows. The exception never seems to occur on linux or mac.

[code]

[2016-12-29 05:09] #37 closed

[2016-12-29 10:09] freemo commented on #37
This bug has been fixed in release 1.3.4, which is now in maven central. So if anyone recently experienced problems running on windows please ensure you upgrade to this version, should fix the problem.

[2016-12-30 15:41] freemo opened #38 "Inconsistent results between GPU and CPU when integers overflow."
The following code produces different results when run on the GPU vs the CPU.

[code]

The output from the above code snippet is:

`expected: 214748364700 result: 4294967196`

I tested this on my Macbook pro but others noticed the problem as well on other unspecified platforms.

[2016-12-30 15:57] freemo commented on #38
IT should be noted this is not simply an issue with rolling over.  if I change the calculate line to `return (long) tc + 212600881053l;` instead it should produce the same result mathematically using addition rather than multiplication. Despite this the program actually runs successfully with this new edit producing the following result:

[code]

[2016-12-30 17:16] CC007 opened #39 "Better handling of missing drivers"
Make it so that it is easy for the user of a java program to know that they don't have their openCL drivers installed (GPU/CPU) and provide easy links to the latest drivers for Intel/AMD/Nvidia

[2016-12-30 17:17] CC007 commented on #39
The intel drivers can be found here:
https://software.intel.com/en-us/articles/opencl-drivers

[2016-12-30 17:23] CC007 commented on #39
AMD drivers:
http://support.amd.com/en-us/kb-articles/Pages/OpenCL2-Driver.aspx

[2016-12-30 17:27] CC007 commented on #39
Nvidia drivers:
http://www.nvidia.com/Download/index.aspx?lang=en-us

[2016-12-30 17:32] automenta commented on #39
http://packages.ubuntu.com/search?keywords=opencl&searchon=names&suite=yakkety&section=all

[2016-12-30 22:32] savaskoc commented on #38
Hi, thanks for opening this issue to here.

I think there is something wrong in OpenCl. I am sending kernel and host code in C language. It STILL gives wrong results on GPU.

[kernel.zip](https://github.com/Syncleus/aparapi/files/679302/kernel.zip)

[2017-01-02 04:27] CC007 opened #40 "Support for syncing threads"
It would be nice to have the ability to sync kernel threads when the kernel is running (similar to how CUDA has `__syncThreads()`

[2017-01-02 04:31] CC007 opened #41 "Feature request: Support for asynchronously running a kernel"
Implement a way to asynchronously run a kernel with also an easy way to wait for the kernel to end like:

Kernel k = ...;
Execution ex = k.executeAsync(...);
ex.waitUntilFinished();

[2017-01-02 04:33] CC007 opened #42 "Feature request: support for dynamic parallelism"
Opencl (and CUDA) support dynamic parallelism. It would be nice to be able to use this on the java side as well

[2017-01-02 04:35] CC007 opened #43 "Feature request: easy message passing interface"
It would be nice if aparapi supported an MPI-like interface for passing messages between cpu/gpu and between kernel threads.

[2017-01-02 04:51] freemo commented on #14
This is a duplicate of Issue #38 however the issue is described there in better detail.

[2017-01-02 04:54] CC007 commented on #7
I notice the Netbeans warning as well. It might be a bug without any concequences, but getting rid of it might be nice

[2017-01-02 09:45] freemo opened #45 "Pull in all issues from google code"
We need a way to pull in all the old issues that were over at the google code api. I tried a few tools but since the google code site archived most such tools broke. However there is a git repo that managed to copy the issues from google before that time. We can potentially use the git issue mover/copier or similar tool to get these issues over to our repo. Here is the repo in question:

https://g

[2017-01-02 16:36] CC007 commented on #38
What opencl implementation are you using and what cpu/gpu does the macbook have?

[2017-01-02 16:40] savaskoc commented on #38
It's default implementation in macOS. I'm using 10.12 (16A320) MacBook Pro (Retina, 13-inch, Late 2013). It has i5 4258U CPU and Iris 5100 GPU

[2017-01-02 17:52] CC007 commented on #38
Are  you using the amd app sdk?

[2017-01-02 17:58] CC007 commented on #38
Also in the calculate can you try it wi brackets around the cast, putting the multiplication outside of the brackets?

[2017-01-02 18:00] freemo commented on #38
@CC007 The issue seems to occur on linux as well and on AMD App SDK. It appears this bug is not platform specific. IF you runt he code in the original post on your local computer will probably see the bug as well. Did you try? the bug behaves very oddly for me. for example even though id is always 0 if you remove the "+ id" part int he calculate call it wont break anymore.

[2017-01-02 18:05] savaskoc commented on #38
Anyone check the c code i posted?

[2017-01-02 18:07] freemo commented on #38
@savaskoc Not yet but i will give it a go this evening. If your saying it produces the same incorrect results however then I expect you to be correct that it is an opencl issue directly.

[2017-01-02 18:11] savaskoc commented on #38
I think this is an OpenCl issue because GPU produces incorrect results independently from platform and/or language (C, Java, Python etc.).

[2017-01-02 18:20] freemo commented on #38
@savaskoc You realize the bug is producing the result but clipping it to 32 bits? To use the test I posted above as the example (the same is true for the numbers you posted) here is the breakdown.

Expected result is 214748364700 which in binary would be:

11 0001 1111 1111 1111 1111 1111 1111 1001 1100

actual result we get is 4294967196 which in binary is:

1111 1111 1111 1111 1111 1111 1001 110

[2017-01-02 18:27] savaskoc commented on #38
I'm aware of that. I tried another types than long but still gives incorrect results. Maybe some GPU's can't process 64 bit data types?

[2017-01-02 18:30] freemo commented on #38
@savaskoc I think there is more to it than that. I think when i was testing i tried some variants that produced some very odd results. I need to test this again to make sure I'm remembering correctly but when I removed the id variable (which in this test is always 0 anyway so shouldnt make a difference) it actually caused the correct results to be produced. Once I saw that behavior it was apparent

[2017-01-02 18:33] freemo commented on #38
@savaskoc also as I stated int he OP if you change the operation to addition but change the value of the operand to make it mathematically equivalent, it magically works. So the problem seems to occur only on multiplication but not addition. this leads me to believe it is a genuine error rather than a hardware compatibility issue or something.

[2017-01-02 18:44] CC007 commented on #38
Does opencl provide software 64bit support or hardware 64bit support (or both)?

[2017-01-02 18:44] grfrost commented on #38
My guess is that savaskoc is correct.  I think that the GPU OpenCL runtime does not support long.

Aparapi will detect this for doubles, surprised it does not detect this for long.

[2017-01-02 18:45] savaskoc commented on #38
@grfrost If I am correct, why `(long) tc + 212600881053l;` line works but `(long) tc * 100;` not?

[2017-01-02 18:52] grfrost commented on #38
Actually, I was about to retract ;) from the 1.0 spec https://www.khronos.org/registry/cl/sdk/1.0/docs/man/xhtml/scalarDataTypes.html it does not look like cl_long is optional.   So now I think I will blame Aparapi.  My guess is that as the AST is built we end up with

         (long)
            |
            *
     tc         100

Instead of

          *
     /        \
(long)   100
    |
    tc

[2017-01-02 18:55] savaskoc commented on #38
I doubt. even original OpenCl does not produce correct results. Check my kernel above.

[2017-01-02 19:41] CC007 commented on #38
I ran the code on my computer (the code from freemo) and it runs as it should.

Using:
CPU: 4670k
GPU: 1070GTX
Nvidia and intel openCL implementation

[2017-01-02 19:43] savaskoc commented on #38
@CC007 You're saying that you get same results both GPU and CPU mode right? Can you try my kernel in C?

[2017-01-02 19:52] CC007 commented on #38
I will try that one next. I also tested freemo's code by setting it up to use the cpu opencl device

[2017-01-02 19:56] CC007 commented on #38
@savaskoc It won't compile because kernel.cl.h is missing

[2017-01-02 19:58] savaskoc commented on #38
It generated within build phase. Did you add kernel.cl to compile sources?
<img width="885" alt="screen shot 2017-01-02 at 22 57 56" src="https://cloud.githubusercontent.com/assets/3313518/21595434/f1a75b54-d13e-11e6-9fa0-9f98288ff519.png">

[2017-01-02 20:01] CC007 commented on #38
@savaskoc The problem seems to be that I don't have any opencl sdk, only the driver and implementation afaik, as I am not using the AMD app SDK

[2017-01-02 20:02] savaskoc commented on #38
I use the implementation just comes with osx.

[2017-01-02 20:16] CC007 commented on #38
I have a pc :)

[2017-01-02 20:18] savaskoc commented on #38
Meh, try with that .h file

[code]

[2017-01-02 20:47] CC007 commented on #38
I think you misunderstand, It wasn't the kernel.cl.h that caused a problem.
 I dont have the OpenCL/opencl.h, because I don't have an opencl SDK.

[2017-01-02 21:09] CC007 commented on #38
Ok, now that that is installed, can I get that header file again?

[2017-01-02 21:34] grfrost commented on #38
On my macbook pro the following yields the same error.

[code]

[code]

[2017-01-02 21:37] grfrost commented on #38
If I switch to use CPU device  the above code yields the correct result.  So yes I think there is an OpenCL runtime GPU issue with my macbook pro.

[2017-01-02 22:10] CC007 commented on #38
I tried to compile your example using: `g++ -lOpenCL -o longtst main.cpp -I"C:\Program Files (x86)\Intel\OpenCL SDK\6.3\include" -std=c++11 -L"C:\Program Files (x86)\Intel\OpenCL SDK\6.3\lib\x64"` and got the following errors:

[code]

[2017-01-02 22:24] grfrost commented on #38
You are failing to link.

Check the dir where you 'think' your opencl.so is.

Also could it be that you are pointing to 64 bit lib and creating a 32 bit app?

Gary

[2017-01-02 22:24] grfrost commented on #38
Also I think the -l option has to  appear after the L<dir>

[2017-01-02 23:25] CC007 commented on #38
I tried linking to the 32bit library as well and tried with the -l after the -L. After installing mingw-w64 it had the same problems

[2017-01-02 23:43] grfrost commented on #38
Is there a suitable opencl.dll lib in "P:\Program Files (x86)\Intel\OpenCL SDK\6.3\lib\x64" ?

You must have an opencl dll on your machine if you have ever used Aparapi ;)

[2017-01-02 23:56] grfrost commented on #38
What is your command line now?

[2017-01-03 01:23] CC007 commented on #38
I do get an executable now, but it gives the following error: `the application was unable to start correctly 0xc00007b`

I tried a couple of the fixes that I found online, but they don't seem to fix the issue.
I am using C::B IDE v16.01, running the mingw-w64 compiler v6.2.0 from Mingw-builds, Intel OpenCL SDK v6.3, trying to compile grfrost's code with the commands:

[code]
I tried netbean's c/c+

[2017-01-03 03:52] grfrost commented on #38
From this page -
https://answers.microsoft.com/en-us/windows/forum/windows_7-performance/error-the-application-was-unable-to-start/05a2b904-3f61-4d08-94d6-e2ff92161111?auth=1

"This error is most likely a result of a 32-bit (x86) executable trying to load a 64-bit (x64) DLL.  You might have to adjust your PATH or copy DLLs to avoid this.  For example, my PATH is set up to find the x64 version of d

[2017-01-03 06:52] freemo commented on #38
Ok so few things.

@grfrost The DLL for Aparapi itself no longer needs to be installed. It is loaded into the path dynamically by the aparapi-jni project which is a dependency on aparapi. So if this particular DLL were the problem (loading the 32bit version on a 64 bit machine) then the problem would still be with aparapi rather than the user. However in the past on windows we have seen an error w

[2017-01-03 14:01] freemo commented on #38
So I just spent over an hour trying to tinker with this problem again and my results this time are more perplexing than the last.

First I went over to my windows box and ran the above code and it did not produce the error we had been seeing. Excited this might be a clue I wanted to double check my work and headed back over to linux and ran the original code I pasted in the first post of this issu

[2017-01-03 14:03] freemo commented on #38
@CC007 Did you have an ubuntu box going somewhere you could run it on? If possible I'd be curious to see what sort of results you get when you run it on that box?

[2017-01-03 16:49] freemo commented on #38
Ok. So here is my personal conclusion, tell me if you guys agree.

I have tested locally, it works on windows and linux but the bug occurs on mac. Both @grfrost  and @savaskoc saw the error but only on Mac. Therefore unless anyone has experienced this bug on non-mac systems, I am going to conclude this is a problem that only occurs on mac.

Since this is a mac only issue it seems most likely the b

[2017-01-03 17:35] savaskoc commented on #38
I think so that's a bug about osx's OpenCl implementation.

[2017-01-03 17:38] freemo commented on #38
@savaskoc ok that means we need to see if we can find if a bug was already filed or not. I fit was we can reference it here until it is fixed. If not we should file one. Did you file a bug report with them yet?

[2017-01-03 18:26] savaskoc commented on #38
I did but it would be good if you file another one

[2017-01-03 18:27] freemo commented on #38
@savaskoc It isnt usually good practice to file the same bug twice. But I might be able to add useful comments to the bug you filed. Do you have a link to your bug?

[2017-01-03 18:30] savaskoc commented on #38
Bug reporter doesn't provide a link. I can attach your comments to bug file, or you can file them

[2017-01-03 18:31] freemo commented on #38
@savaskoc well link me to the site where you reported it so I can poke around at least.

[2017-01-03 18:31] savaskoc commented on #38
@freemo https://bugreport.apple.com/

[2017-01-06 18:08] CC007 commented on #38
@grfrost It seems that the executable does use 64bit opencl, msvcrt and kernel libraries, but the libstdC++ library is 32bit. I think that I read that this was an issue with Code::Blocks in combination with mingw, but using any of the other compilers gives the errors I posted previously. Thanks for the help though

[2017-01-06 18:34] CC007 commented on #38
@grfrost This is what made it run without error http://stackoverflow.com/a/6405064, so probably I don't have a 64bit libstdC++ dynamic library installed.

[2017-01-06 19:03] grfrost commented on #38
@CC007  Glad you sorted it out.   BTW gcc/mingw on windows is responsible
for me having to drink many many beers ;)

On Fri, Jan 6, 2017 at 10:34 AM, CC007 <notifications@github.com> wrote:

[2017-01-06 19:10] CC007 commented on #38
@grfrost Also, your kernel.zip contains Mac specific code (libdispatch and its use of blocks), so I can't run that.

[2017-01-06 19:13] freemo commented on #38
FYI as of 1.3.4 the aparapi native library was compiled using Microsoft
visual studios instead of GCC or minge as with previous versions.

On Jan 6, 2017 2:03 PM, "grfrost" <notifications@github.com> wrote:

[2017-01-06 19:17] grfrost commented on #38
I think you are referring to Jeffreys code.

I was enviously looking at those blocks ;)

My code should have been straight C++

Gary

On Fri, Jan 6, 2017 at 11:10 AM, CC007 <notifications@github.com> wrote:

[2017-01-06 19:28] CC007 commented on #38
@grfrost ah I see now that it was @savaskoc who posted the code. Btw there is a libdispatch library for windows, but the block notation doesn't seem to be supported.

[2017-01-10 18:30] TPolzer commented on #38
Isn't this a clear case of undefined behaviour? As far as I know OpenCL C signed integer arithmetic overflow is only defined for atomic operations, so `start + id` is undefined if `id` is a positive int and `start` is `Integer.MAX_VALUE`.

[2017-01-10 21:04] CC007 commented on #38
Addition is atomic but multiplication is indeed not atomic in the opencl specification for neither 32 nor 64 bit numbers: https://www.khronos.org/registry/OpenCL/sdk/1.2/docs/man/xhtml/atomicFunctions.html

[2017-01-10 21:10] TPolzer commented on #38
I was referring to the https://www.khronos.org/registry/OpenCL/sdk/2.0/docs/man/xhtml/atomic_fetch_key.html which guarantees defined overflow for atomic_fetch_add. Aparapi is not using that function for addition, and for good reason. In general, overflow of signed integers is undefined in C, and I think OpenCL C follows C in that area.

[2017-01-10 21:44] CC007 commented on #38
@TPolzer "For signed integer types, arithmetic is defined to use two’s complement representation with silent wrap-around on overflow; there are no undefined results." I don't see what you mean.

This might however explain why multiplication can cause issues

[2017-01-10 21:45] TPolzer commented on #38
The problem is, that it does not apply in this situation, but only on explicitly atomic fetch and add.

[2017-05-13 19:53] zhuker opened #47 "[BOUNTY $10] what do i do to add popcount support?"
where do i start if i wanted to add `popcount` support?
https://www.khronos.org/registry/OpenCL/sdk/2.0/docs/man/xhtml/popcount.html

[2017-05-13 20:07] freemo commented on #47
@zhuker Check out this class, this is where the commands usable in the kernel are defined and mapped to their java equivalent.

https://github.com/Syncleus/aparapi/blob/master/src/main/java/com/aparapi/Kernel.java

[2017-06-08 02:16] AHoran commented on #37
I am getting this same issue on (some) windows machines.
I am using aparapi 1.3.4 and the aparapi-jni 1.1.2

I can compile and run my aparapi based app on my dev machines. However when i copy a compiled version to user machines then I get this problem.

[2017-06-08 02:19] freemo commented on #37
Are the working machines all Mac and the machines that aren't Linux/Windows?

Mac comes with an open implementation preinstalled but on Windows and Linux
you have to install that yourself.

On Jun 7, 2017 10:16 PM, "Adam Horan" <notifications@github.com> wrote:

[2017-06-08 03:28] AHoran commented on #37
No, the working machines are windows, and the non-working machines are windows.

As far as I can tell all the machines have a working OpenCL runtime. Do I need an OpenCL SDK on every machine that will run my application?

[2017-06-08 03:51] AHoran commented on #37
When I install the _Intel SDK for OpenCL Applications_ then the application will run...

I wasn't expecting to need the SDK at runtime, as my app is distributed to normal users, and there's no way I can request or expect that they'll have an operational OpenCL SDK on their machines.

[2017-06-08 06:58] AHoran commented on #37
This is my stacktrace.

Exception in thread "main" java.lang.UnsatisfiedLinkError: C:\Users\adam.horan\AppData\Local\Temp\libaparapi_x86_64111971314637878404.dll: Can't find dependent libraries
	at java.lang.ClassLoader$NativeLibrary.load(Native Method)
	at java.lang.ClassLoader.loadLibrary0(Unknown Source)
	at java.lang.ClassLoader.loadLibrary(Unknown Source)
	at java.lang.Runtime.load0(Unknown S

[2017-06-08 12:03] freemo commented on #37
Unfortunately yes you need an open implementation which is a native library
installed. Not much way around that. I think calling it an sdk is a bit
misleading though as it's more like an API.

On Jun 8, 2017 2:58 AM, "Adam Horan" <notifications@github.com> wrote:

[2017-06-10 15:32] freemo commented on #37
@AHoran did installing the opencl implementation (SDK) help? If so I'd like to close this ticket.

[2017-06-10 15:34] freemo commented on #37
@AHoran  oops nevermind i noticed this issue has already been closed. BTW you are using the aparapi through maven and not directly right? You shouldnt be getting this error on the newer versions of aparapi if an opencl implementation is installed.

[2017-06-11 03:54] freemo commented on #37
@AHoran  By the way I just checked here and it doesnt appear to require an SDK to run for me, but I did need to make sure opencl was installed. So I take back what I said earlier, you dont need the SDK installed to run the software.

[2017-06-14 05:20] AHoran commented on #37
I am not using the maven POM, but i have retrieved the two latest jars/libraries from the maven site. In all of my error messages the long number in the .dll starts with _64 so i think i am trying to load up the correct dll.

On AMD based systems with latest Radeon drivers it always works. I have hit and miss results on Intel based systems with Intel graphics (ie laptops) and the standard Intel dr

[2017-06-14 05:41] AHoran commented on #37
I can also download and execute samples from NVidia from this page https://developer.nvidia.com/opencl

The first one _OpenCL Multi Threads_  gives me the following output:

[2017-06-17 08:10] freemo commented on #37
@AHoran yea lets move this to a new issue. I'm not exactly sure what the issue is but I will have to do some investigation for you.

[2017-06-18 00:05] freemo commented on #37
@AHoran do the unit tests work for you at all?

[2017-06-19 12:58] freemo opened #48 "Remove references to OSCL license"
Must be some old references somewhere to OSCL license as it is being reported on this pae: https://mvnrepository.com/artifact/com.aparapi/aparapi/1.4.1

[2017-07-13 06:15] raner opened #49 "Unresolved merge conflict in javadoc of Kernel.EXECUTION_MODE"
Looks like an unresolved merge conflict snuck into the javadoc of Kernel.EXECUTION_MODE:

https://github.com/Syncleus/aparapi/blob/master/src/main/java/com/aparapi/Kernel.java#L376

Since it's all in a block comment this doesn't affect compilation, obviously. However, it still messes up the generated javadoc documentation.

[2017-07-13 10:01] freemo commented on #49
Thanks for catching that, I'll fix it shortly.

[2017-07-17 08:45] raner opened #51 "[BOUNTY $25] JVM crash when using multi-dimensional local arrays"
This may be a user error, since I'm relatively new to both Aparapi and OpenCL, but it seems to me that there is a problem related to multidimensional local arrays.

When I'm executing the kernel shown at https://github.com/raner/top.java.matrix/blob/syncleus-aparapi-issue-51/src/main/java/top/java/matrix/fast/TiledFastMatrix.java#L72 on my MacBook Air (Mac OS X 10.11, Intel HD Graphics 6000 with 4

[2017-07-18 07:06] fer-marino opened #52 "UnsatisfiedLinkError on linux when opencl is not installed"
Dears,
I'm evaluating aparapi for one of our project, and a requirement for it is that it runs pure java even if no opencl device is available.
I've designed a simple test case using the guide but the test fails:
[code]

this exception is thrown when the program its the line:
`List<OpenCLPlatform> platforms = (new OpenCLPlatform()).getOpenCLPlatforms();`

Going through the code, it seems that he t

[2017-07-18 07:08] freemo commented on #52
If you have a fix and submit it via pull request I can approve it rather
quickly and get this fixed for you. Otherwise ill have to take a look when
I get a chance and hopefully implement a fix for you. Thanks for reporting.

On Tue, Jul 18, 2017 at 3:06 AM, fer-marino <notifications@github.com>
wrote:

[2017-07-18 07:35] freemo commented on #51
@raner could you simplify this code down to its most basic form that causes the bug and submit it as a unit test? I can then use that to address the issue and work on a fix.

[2017-07-18 14:45] automenta commented on #52
there are a few opencl implementations available for linux.  i know at least one of them has CPU support. you may only need to install that in the system.

https://packages.ubuntu.com/search?keywords=opencl&searchon=names&suite=yakkety&section=all

[2017-07-18 15:18] fer-marino commented on #52
@automenta it's not about opencl support, but opencl device detection by aparapi

[2017-07-19 06:42] raner commented on #51
Here's a JUnit test:
[code]

[2017-07-19 06:53] raner opened #54 "OpenCL keywords are not escaped during code generation"
If the Java kernel contains a variable name that is legal in Java but happens to be an OpenCL keyword the code generation will fail. OpenCL keywords should be somehow escaped on mangled in the output code.

[2017-07-19 06:55] raner commented on #54
Consider the following test:
[code]
Running this test will cause the following runtime error:
[code]

[2017-07-20 16:15] freemo commented on #54
@raner Thanks so much, ill review this and see what I can do.

[2017-07-20 16:16] #52 closed

[2017-07-20 16:17] freemo commented on #52
@fer-marino Thanks, pull request merged, this should now be fixed. Will go out in next release.

[2017-07-28 04:14] freemo commented on #52
@fer-marino  release 1.4.0 has just been made and includes the fix for this bug.

[2017-09-14 12:21] seeker opened #55 "KernelManagers provided KernelManager result in NPE"
When trying to use `KernelManagers.JTP_ONLY` or `KernelManagers.SEQUENTIAL_ONLY`, the code will fail with a `java.lang.NullPointerException`.

[code]

[2017-09-14 19:38] #55 closed

[2017-09-28 18:07] shabanovd opened #58 "Inline array creation not supported in kernels."
Is there any elegant way to handle complex numbers operations?

`new float[] = new float[2];` is not allowed. Anything else to try?

[2017-09-28 21:43] freemo commented on #58
@shabanovd is there any reason you cant initialize the array before entering the kernel?

[2017-09-29 06:34] shabanovd commented on #58
nope, because I have heavy complex numbers calculations and initial array will be too big

[2017-09-29 09:22] shabanovd commented on #58
@freemo how hard to add limited support for primitive types arrays that mapped to OpenCL vectors?

[2017-09-29 23:56] freemo commented on #58
@shabanovd it might not be too hard to add support for OpenCL vectors actually. Id be willing to pay someone a bounty to implement it, wouldnt be a very large bounty but we have had good success with bounties so far. If that doesnt work would you be interested in trying yoru hand at a PR for that support? I could do it myself but im overloaded with work on a few projects right now but might have s

[2017-09-30 16:57] shabanovd commented on #58
@freemo I did investigate it a bit. It should be more or less simple, here jvm patterns:

`float[] vector = new float[4];`
[code]

`float[] b = new float[] {0f, 0f, 0f, 0f};`
[code]

and last one
[code]
[code]

It's easy to control array size on `newarray`. And implement handling of `aastore` pattern.

Is it right direction?

[2017-09-30 19:34] freemo commented on #58
@shabanovd yea looks like a good start. You considering doing the pull request?

[2017-10-01 05:28] freemo commented on #58
@shabanovd I'll post this with a small bounty once I finish the code coverage bounties im trying to do, unless you jump on a pr first.

[2017-10-01 07:05] shabanovd commented on #58
@freemo I'll be able to make PR in a week or two. Right now, I'm totally overloaded.

[2017-10-01 07:07] shabanovd commented on #58
@freemo btw, do you know why most test mark `Ignore`? Is there any plans for redesign? Mean, grab OpenCL code from comments at class that used for OpenCL code generation?

[2017-10-01 14:38] freemo commented on #58
@shabanovd  I have a guy working on the unit tests this month. Just all part of the redesign effort, There was an older system in place to run unit tests we didnt like so it is slowly being migrated over. Just got someone on board to put in that work over the next month.

[2017-10-01 15:24] shabanovd commented on #58
@freemo I see, ok

[2017-10-01 20:48] freemo commented on #58
@grfrost

[2017-10-01 22:07] grfrost commented on #58
My guess is that @ignore was something we acknowledged, but we did not think should stop us releasing/committing code.

[2017-10-01 22:22] freemo commented on #58
@grfrost the ignore was something I added, I have a bounty being implemented to redo the unit tests. I mostly just wanted to draw your attention to the thread as we were discussing the possibility of implementing OpenCL vectors here. So thought you might want to follow the thread.

[2017-10-13 10:20] KIC opened #61 "Lack of FP64 support produces warning level log, should be info."
while JUnit tests run OK, spock tests wont :-(

[code]

[2017-10-13 16:32] freemo commented on #61
I'm not sure there is a fix for this in Travis. Looks like Travis hardware
just doesn't support this feature. Does it not run on your local system
either? Does your system have fp64 support?

On Oct 13, 2017 6:20 AM, "KIC" <notifications@github.com> wrote:

[2017-10-14 06:11] KIC commented on #61
agreed. but the warning also raises when the device is explicitly set to Java Threadpool locally which is quite confusing. Its a debig or in the worst case an info I would suspect.

```kernel.execute(JavaDevice.THREAD_POOL.createRange(time.length))```

[2017-10-14 13:53] freemo commented on #61
Ahh yes perhaps the log level should be tweaked a bit for clarity. Let me
look into that and see how easy it might be to change that. Also feel free
to send in your own pull request if you'd like (easy way to get recognition
on the contributors file).

On Oct 14, 2017 2:12 AM, "KIC" <notifications@github.com> wrote:

[2017-10-15 07:54] KIC opened #62 "[BOUNTY $25] JVM Crash: SEVERE: ProfilingEvent.START encountered without ProfilingEvent.EXECUTED"
Hmm when I create more then one Kernel from the same class then I suddenly run into such messages like below. I could not find anything in the documentation that this should not be supported. Basically I have an object pool of a limited number of Kernels and different threads can aquire those limited resources. But this results in a JVM crash.

Thanks
KIC

PS you could find a runnable version at:

[2017-10-15 08:46] KIC commented on #62
[hs_err_pid18076.log](https://github.com/Syncleus/aparapi/files/1385287/hs_err_pid18076.log)

[2017-10-18 10:06] nejeoui commented on #38
I have noticed the same problem : Inconsistent results between GPU and CPU and between different GPUs

this kernel calculate the product of two Big Integers 256 bits each using the product scanning algorithm.

This Kernel gives different results on CPU (correct) / GPU (Intel Iris) (wrong)
This Kernel gives different results on GPU (Nvidia Tesla m40)(correct) / GPU (Intel Iris)(wrong)

public  void

[2017-10-18 11:22] shabanovd commented on #58
@freemo here first step https://github.com/shabanovd/aparapi/commit/6b1fa8b3b6b588495f27bdfc4449c6dbc9f7b15b

[2017-10-18 12:41] freemo commented on #38
I'm not entirely sure this can be solved. Aparapi works by converting java
byte code into opencl's C-like language and running that on the gpu.
Primitive operations like basic arithmitic is governed by the gpu and for
Effiency reasons it would be infeasable to try to override that
functionality in any meaningful way.

We could of course add some sort of a add, subtract, divide, and multiply
method

[2017-10-18 12:44] freemo commented on #58
Awesome work so far! Not a requirement but have you considered adding an
example to aparapi-examples too? Might be a cool new feature to showcase.

On Oct 18, 2017 7:22 AM, "Dmitriy Shabanov" <notifications@github.com>
wrote:

[2017-10-18 13:25] freemo commented on #62
@KIC  Can you share a simple test case so I can investigate this further please? (feel free to submit it as a unit test to the project if you want).

[2017-10-18 13:27] freemo commented on #58
@shabanovd I've made you a collaborator on the project and assigned this ticket to you and myself.

[2017-10-18 14:13] KIC commented on #62
This is pretty hard to tackle via simple unit test as the jvm not always crashes. Stilll you can see a lot of severe meesages by just running the test below. As I have mentioned you can also just clone  https://github.com/KIC/LPPL and run the kic.lppl.SornetteTest test.

[code]

[2017-10-18 16:26] shabanovd commented on #58
@freemo [here](https://github.com/shabanovd/aparapi/commit/6b1fa8b3b6b588495f27bdfc4449c6dbc9f7b15b#diff-4250f5f0553b8523a0f5a72a77d87c8cR29) the test and generated OpenCL code

There are number of tests, for example [ReturnBooleanNewArray](https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/codegen/test/ReturnBooleanNewArray.java#L22), that pass before and fail now because s

[2017-10-18 18:46] freemo commented on #58
@shabanovd I'd say update the unit test so it works. It will be evaluated in the pull request.

Hey @grfrost I now you had some ideas on vector implementation. I'd love to get your thoughts on this.

[2017-10-19 17:43] #48 closed

[2017-10-21 16:18] freemo commented on #30
this is working now on linux and osx, just need to compile it for windows.

[2017-10-21 16:21] freemo opened #66 "Can not directly return an instantiated array."
BOUNTY: $25 (USD)

Generating the code for the following will return an exception:

[code]

However the following work around will compile just fine:
[code]

[2017-10-21 16:46] freemo commented on #58
@shabanovd should we change the title of this issue to "Array creation support" and then close it once you finish your PR? If you would still like to see complex number support perhaps we open a separate ticket (and PR) for that?

[2017-10-21 16:55] freemo commented on #62
@KIC have you had any luck with this? I'll probably place a small bounty on this issue to see if i can get any takers unless you've already resolved it.

[2017-10-21 16:57] freemo commented on #61
@KIC just to update you I've been working with a contributor to get Array creation support. Once thats done ill throw in a tweak to the log level for you.

[2017-10-21 17:03] freemo commented on #58
This ticket is being resolved in PR: https://github.com/Syncleus/aparapi/pull/63

[2017-10-21 17:07] freemo commented on #54
@raner Sorry there hasnt been much movement on this. I'm going to assign a bounty to it and try to get someone on it. If we can't find anyone I'll investigate this myself. Have you had any progress since it was reported?

[2017-10-21 17:09] freemo commented on #51
@raner I'm going to try to add a bounty to have this resolved. In the meantime we have a PR coming through ( #58 ) which allows for private memory instantiation of arrays (including multidimensional) that may be a work around for you.

[2017-10-21 17:09] freemo commented on #47
@zhuker have you made any progress on this? If not I can add a small bounty to try to encourage to get this implemented.

[2017-10-21 17:11] freemo commented on #49
@raner just an FYI I'll be fixing this this weekend. Sorry for the delay we just now secured funding to start getting some time looking at this project in more detail (and offering bounties).

[2017-10-21 17:12] freemo commented on #43
@CC007 I really like this idea. Would you be interested in doing a pull request for this if I offered up a bounty as reward?

[2017-10-21 17:14] freemo commented on #42
@CC007 I think this would be a great enhancement. We just got some funding I can start spending on the aprapi project. If i put up a bounty for this feature would you have any interest in implementing it?

[2017-10-21 17:16] freemo commented on #41
@CC007 There is an easy path for this (run each kernel in its own cpu thread) but i dont like that. It should be possible to do from a single thread in theory. I like this feature and want to try to add a bounty to try to get this one implemented. With a bounty in place would you have any interest in taking this up? If not I have a group that usually takes on most bounties, wanted to give you firs

[2017-10-21 17:17] freemo commented on #40
@CC007 I have included this in the list of tickets I'll be adding a bounty to as well. Let me know if you have any interest in taking it up.

[2017-10-21 17:19] freemo commented on #39
@CC007 How exactly do you propose we do this? If we throw an exception it will halt the program, so we want to elegantly fall back to native java still when we can, so exceptions arent an option. What other mechanism could there be to automatically provide links to drivers? If aprapi were a GUI program or end-product I would agree with you. But as a library I'm not sure of any elegant way this cou

[2017-10-21 17:24] freemo commented on #55
@seeker not sure if you caught this but I applied your fixes back when you first reported the issue.

[2017-10-21 17:48] freemo commented on #13
@alexandrubordei You still looking for an answer to this. I noticed this was pulled in from another project so going to close this if it is no longer outstanding.

[2017-10-21 18:21] nejeoui opened #67 "declare helper method in Kernal that accept __private variable"
i tried to define a helper method AddMod that accept __private byte Array but failed
**1- the syntax**
public  void addMod(final byte[] input1,final byte[] input2,final byte[] outputBytes,final int ID, byte[] PRIME_$private$32){

}

compile fine but calling the addMod with a __private variable PRIME throws runtime exception :
<program source>:362:112: error: passing 'char *' to parameter of type '

[2017-10-21 18:35] freemo commented on #67
Yea you can find an example of it here:

https://github.com/shabanovd/aparapi/blob/9a8bd62bba2fade092452e5179cf697ed7aa38f0/src/test/java/com/aparapi/runtime/ArrayTest.java

I'm on my phone right now so can't view the full source code you posted.
Hope that helps, let me know if it doesnt.

On Oct 21, 2017 2:21 PM, "Nejeoui Abderrazzak" <notifications@github.com>
wrote:

[2017-10-21 20:09] #58 closed

[2017-10-22 04:13] freemo commented on #67
@nejeoui Did that answer your question?

[2017-10-22 09:02] nejeoui commented on #67
Hi freemo,
thank you for your quick reply.
the ArrayTest.java throw an exception at runtime
i think the instruction int[] ints = new int[size]; inside the run method is causes the exception.

please find the full stack trace bellow :
com.aparapi.internal.exception.ClassParseException: @7 NEWARRAY We don't support new instructions
	at com.aparapi.internal.model.MethodModel.createListOfInstructions(

[2017-10-22 09:18] KIC commented on #62
No I was not able to solve or work around this so far. Currently the only workaroud is not using multiple threads. Thanks a lot for putting a bounty on it!!

[2017-10-22 14:34] automenta commented on #62
i tried the JVMCrashTest and without going further into the actual aparapi code it looks like it might be solved by using an AtomicReference, or at least synchronization, to make the    public void onEvent(ProfilingEvent event) procedure Atomic, or to make the Profiles local to each thread using ThreadLocal and then merge the per-thread results after.  still i dont know how this works it just look

[2017-10-22 17:47] freemo commented on #62
@automenta  Would you be willing to try a solution out against @KIC 's unit test above? I'm sure you can work with him to get better unit tests if we need to but that one should suffice?

[2017-10-22 17:53] freemo commented on #67
@nejeoui I think you need to pull down the latest version of master. This was just added to the code base yesterday. The test passes for me locally (on mac osx) and on our travis instance (linux). So should be working if your on the latest version of the master branch.

[2017-10-22 18:01] nejeoui commented on #67
Thank you Jefferey for adding this valuable functionality to Aparapi.
i will pull down the latest version of master and give it a try. I'm working on an Aparapi based Multi Precision Arithmetics API that make a heavy use of _private memory space.

[2017-10-22 18:04] freemo commented on #67
@nejeoui I didnt write the new functionality, it was @shabanovd. However the new functionality was to allow array creation inside a kernel. The functionality you actually are trying to use already existed from sometime back. It is just the unit test I showed you as an example is new as the unit test is intended to show array creation, it just happens to also use the same functionality you needed s

[2017-10-22 18:05] freemo commented on #67
@nejeoui please let me know if this solves your question so i can close the ticket, or feel free to close the ticket yourself once you feel your question has been answered.

[2017-10-22 18:09] automenta commented on #62
im working on it now, seems to sort of fix that one but then it started complaining about the sequence of events it was tracking.  so im looking into completely multithreading all a Kernel's KernelRunner's if it's possible

https://gist.github.com/automenta/2d2d194976b2ed451cea5dae7e9bbffc#file-kerneldeviceprofile-java-L49

[2017-10-22 18:13] freemo commented on #62
@automenta If we do that I think we want to make sure that the user can choose to run it asynchronously or synchronously when they run a kernel as well. We may be able to kill two birds with one stone and also solve issue #41 at the same time don't you think?

[2017-10-22 18:21] automenta commented on #62
yeah i think it can solve that.  what i'm trying to do is keep the exact same user-level API but transparently handle the case when another thread gets involved, by keeping KernelRunner thread-local they dont need to interact but can share bytecode and whatever JNI resources are safe to share.

[2017-10-22 18:23] freemo commented on #62
@automenta Sure, and that should be what we do. Though I'm saying once we have that done we can add a similar api call for executing the kernel that is the async variety of it that uses many of the same threading your doing to handle the async flavor as well.

[2017-10-22 18:28] nejeoui commented on #67
The code source from master branch compile fine. i can passe a _private array as argument using the syntaxe byte[] PRIME_$private$.
Thanks Aparapi Team.

[2017-10-22 18:28] #67 closed

[2017-10-22 18:29] freemo commented on #67
Happy to help :)

On Sun, Oct 22, 2017 at 2:28 PM, Nejeoui Abderrazzak <
notifications@github.com> wrote:

[2017-10-22 18:47] automenta commented on #62
right it could be a wrapper around the Executors threadpool api that allows management and async callback on events etc.  i keep seeing things id like to use java 8 and java 9 stuff for as well as other libraries. maybe after this ill make an experimental fork and call it aparapoop

[2017-10-22 18:56] freemo commented on #62
Aparapi is already java8 just use it. Just can't use lambdas in the kernels
themself.

On Oct 22, 2017 2:47 PM, "automenta" <notifications@github.com> wrote:

[2017-10-22 20:51] seeker commented on #55
I saw that. Thanks again for the fast response.

[2017-10-23 02:42] #13 closed

[2017-10-23 04:18] freemo commented on #30
Update: So got the ucores code in and its working great. Recompiled the native library for linux and osx and it passes all tests. Just need to compile it for windows and test it and then ill be able to close this ticket.

[2017-10-23 04:53] freemo opened #70 "Update Related Projects section of readme"
Section is out of date. Some projects are defunt *like the archlinux ones) and aparapi-vagrant isnt listed there.

[2017-10-23 05:05] #8 closed

[2017-10-23 05:06] freemo commented on #8
@grfrost  I merged this in a while back. Closing the ticket but just wondering if you have any thoughts on the solution here?

https://github.com/Syncleus/aparapi/commit/22b6eaf7254520b246a1f1c636d6a867c630c075

[2017-10-23 05:10] #7 closed

[2017-10-23 09:20] Vineg opened #72 "Forgotten git conflict in javadoc"
https://github.com/Syncleus/aparapi/blob/30f993ab1cc1918ef57369173ff18be0c03747c6/src/main/java/com/aparapi/Kernel.java#L376

[2017-10-24 04:58] freemo commented on #72
@Vineg Thanks so much for reputing this. This is actually a duplicate of ticket #49 Its part of the 1.5.0 milestone to have it fixed and I will be fixing it this week. As such ill close this ticket and leave #49 open as the authoritative ticket which i will only close once this is officially resolved. Thank you though for reporting this and keep em' coming.

[2017-10-24 04:58] #72 closed

[2018-02-03 14:54] carstenhag opened #74 "Error in KernelProfile, no currentDevice (synchronization error?) -- NullPointerException -- Device null"
Hello, I'm trying to generate some prime numbers and test 2-3 criterias on those. The code is at https://github.com/carstenhag/par49_primes_zeroes_replaced/tree/gpu (gpu branch).

[code]
Debugging into Kernel.class and Range.class, the _device passed into various functions is `null`.

I am totally new to this (so I probably coded something wrong). I had gotten it to execute today in the morning, t

[2018-02-07 08:28] carstenhag commented on #74
It happened because of the update to the newest version. The OpenCL version was upgraded.

@freemo The guys at the AMD repo (see the linked issue) say the JNI lib is doing a string comparison on the OpenCL version (at least on their repo), and I have a too new version that is not handled. Because of this, it fails.
I was unable to build their stuff, sadly.

[2018-02-07 18:46] freemo commented on #74
Ahh yes that would apply to us as well. In fact we already have a PR for
this.

https://github.com/Syncleus/aparapi-native/pull/6

On Wed, Feb 7, 2018 at 3:28 AM, Carsten Hagemann <notifications@github.com>
wrote:

[2018-02-11 03:49] freemo commented on #74
@carstenhag I will have a solution for you to test shortly.

[2018-02-11 06:39] freemo commented on #74
@brenzosa and @carstenhag  ok this has been fixed (I hope) and should be released in the next release. I will let you test it on OpenCL 2.1 to confirm everything is in working order, once I get the confirmation that everything appears to work I will make an official release.

Here is the info on what I changed and how to test it.

the Syncleus/aparapi-native project had its code changed (minor) to

[2018-02-11 06:39] #74 closed

[2018-02-11 10:00] carstenhag commented on #74
In my `pom.xml` I just changed the `com.aparapi` dependency version to
`<version>1.5.0-SNAPSHOT</version>`
and now it starts. Thanks!

[2018-02-11 20:28] freemo commented on #74
@carstenhag excellent. Have you tested on windows?

[2018-02-11 20:44] carstenhag commented on #74
Indeed, Windows10x64 with Radeon 18.2.1 and OpenCL 2.1.

[2018-02-11 21:43] #47 closed

[2018-02-12 03:21] freemo commented on #74
@carstenhag v1.5.0 of aparapi was just released to maven central. It includes a fix for this.

[2018-03-27 08:27] eklavya opened #77 "Doesn't get resolved in sbt"
Thanks @freemo for the help.

With default resolvers when using SBT you get:

[code]

In sbt builds you need to add the sonatype snapshot resolver for the dependency to resolve.

like this:
[code]

[2018-03-27 08:31] freemo commented on #77
This will be labeled as a bug and fixed shortly. Once the fix is applied the custom resolver should no longer be needed. I'll update this ticket once its fixed.

[2018-03-27 19:04] Vineg opened #78 "[Bounty $20] Negative integer in for loop turned into something different"
I have a loop `for (int i = -800; i < 800; i++) {`
It compiles into `for (int i = 64736; i<800; i++){`

[2018-04-13 22:47] CoreRasurae opened #79 "[PATCH] Add support for Local arguments in kernel functions"
The patches attached enable support for func(@Local int[] arg1, float arg2,...) or func(int[] arg1_$local$, float arg2, ...).

As the following kernel code illustrates:

[code]
[LocalAnnontationsSupport.patch.txt](https://github.com/Syncleus/aparapi/files/1909686/LocalAnnontationsSupport.patch.txt)

[2018-04-13 22:50] freemo commented on #79
@CoreRasurae  Thank you, can you submit this as a pull request, it will help us streamline testing it and getting it into the next release (i should be doing that in the next few days). Thanks for the submission.

[2018-04-13 22:58] CoreRasurae commented on #79
@freemo Sure, I can do that, but won't be able to do it today. I am also preparing another patch to add support for increased atomics support by allowing AtomicInteger[] arrays to be mapped as OpenCL integers, thus easily allowing atomic operation both on Java and on OpenCL, in case there is interest for this feature. This would allow all supported OpenCL atomic operations on integers.

[2018-04-13 23:00] freemo commented on #79
@CoreRasurae Awesome, yea I'll be happy to add that feature as well as long as there arent any negative impact on existing features (cant imagine there would be). So happy to approve both features, thanks so much.

[2018-04-15 10:53] CoreRasurae commented on #6
@freemo  I couldn't reproduce this issue. Used the following kernel:
[code]

[2018-04-15 15:45] CoreRasurae opened #81 "[Update] Add complete support for OpenCL atomics on arrays of integers by mapping Java arrays of AtomicIntegers"
This enhancement will add support for OpenCL atomics on integers by leveraging existing Java AtomicInteger class.
Arrays of AtomicInteger are used on the Java side, but will be mapped to array of integers on the OpenCL side, while the Aparapi Kernel class will provide methods with the compatible semantics as defined for OpenCL atomics.
The mapping on the OpenCL side will have negligilble overhead

[2018-04-15 15:47] freemo commented on #81
@CoreRasurae In the future you can add this stuff directly as pull requests rather than issue. Though feel free to add issues for enhancement requests if you wish. Just saying there is no requirement that a PR needs to match to an issue.

Will you be adding this as a PR?

[2018-04-15 15:48] CoreRasurae commented on #6
@freemo I believe this is no longer reproducible because the Math class is already used in the the aparapi Kernel class, thus the class loader for this class as already been cached when it parses the Kernel derived subclasses.

[2018-04-15 15:50] CoreRasurae commented on #81
Yes, I will, in the next few days. I already have it running with the aparapi 1.4.1, but now I have to extract this feature and rebase into master branch.

[2018-04-15 15:53] freemo commented on #6
@CoreRasurae  Thanks, that could be. We fixed a lot of stuff since this bug was reported. I'll mark it as invalid for now and reopen it if anyone experiences it again in the future.

[2018-04-15 15:53] #6 closed

[2018-04-15 19:57] freemo commented on #6
@CoreRasurae  By the way if you want to collect the 25$ bounty on this message me. Its a weird case since it turned out to be fixed earlier but we dont know who actually fixed it (what commit).

[2018-04-15 19:59] freemo commented on #78
@Vineg can you submit a unit test that reproduces and tests for this bug. If so and we can reproduce it then we have something to write a patch against.

[2018-04-15 19:59] freemo commented on #78
@Vineg Also sorry for the delay in responding, I didnt see this issue till just now. Must have slipped through in the email notifications. I usually respond same day.

[2018-04-15 20:11] freemo commented on #62
@automenta and @KIC Any movement on this ticket? Do I need to up the bounty and see if we have any other takers willing to finish it. I'll wait if you want to finish it though to give you a chance.

[2018-04-15 20:55] freemo commented on #79
@CoreRasurae merged your PR, Thanks!

[2018-04-15 21:15] #79 closed

[2018-04-15 21:28] #70 closed

[2018-04-15 21:35] #30 closed

[2018-04-16 00:46] #77 closed

[2018-04-16 01:09] freemo commented on #77
@eklavya Ok the fix for this is in master. In release v 1.6 coming out shortly you will no longer need to explicitly specify a repo in sbt. You will be able to include it just as you would with any other dependency. Keep an eye out for the release. I closed the ticket.

[2018-04-16 13:04] freemo commented on #81
@CoreRasurae Merged in your PR so closing this issue. Thanks again for your contribution.

[2018-04-16 13:04] #81 closed

[2018-04-16 13:08] freemo commented on #78
We wont assign this a milestone till we cam reproduce this in a unit test. For now ill remove it from the current release.

[2018-04-16 13:18] freemo commented on #81
@CoreRasurae Btw github isnt giving you credit for your commits because of the way you have your account and gt set up. If you'd like I can show you how to fix that.

[2018-04-16 13:44] freemo commented on #77
@eklavya v1.6.0 has now been released to maven central resolving your problem

[2018-04-16 15:16] CoreRasurae opened #84 "Why is globalBarrier() deprecated?"
I see that Aparapi has globalBarrier() method - which translates to opencl barrier(CLK_GLOBAL_MEM_FENCE) - deprecated for a long time, but I see no reason to it being deprecated, in fact this makes Aparapi kernels less flexible than opencl actually is, while in this case is trivial not to be.

Also, according to the opencl documentation it is even possible to do:
barrier(CLK_LOCAL_MEM_FENCE | CLK_

[2018-04-16 15:49] freemo commented on #84
@CoreRasurae This was deprecated before I took over stewartship of the code. So I dont know the logic behind the deprecation.

@grfrost is the original developer who has been around from the beginning. If anyone knows why it is most likely him.

[2018-04-16 16:26] grfrost commented on #84
Some of this may well have been my confusion with the OpenCL 1.1 specs. So it is perfectly reasonable to consider the deprecation status.  I will add a few notes.

OpenCL was not the only intended target (HSAIL was also considered - actually implemented, but since unsupported), it's memory model was slightly different.

Before changing the workings here, consider what happens to multithreaded Java

[2018-04-16 17:03] freemo commented on #84
@grfrost thanks so much for the update. Gives us a good starting point for reconsidering this. Also lets do a hang out chat soon to catch up if you're free.

[2018-04-16 17:08] CoreRasurae commented on #84
@grfrost  I see... yes, but apart from the HSAIL computation model, I would say that in terms of Java, the problems already exist with the localBarrier(), since memory ordering issues will already exist in JTP. In terms of Java,  localBarrier() or globalBarrier() are the same in terms synchronization, because both refer to the work group synchronization and in terms of memory ordering they're the

[2018-04-16 20:01] grfrost commented on #84
No I don't think you are missing something, really just flagging the intent for 'fallback' to Java.  Clearly the Java memory model is less restrictive than the OpenCL one, one can generally ignore it.  I would just suggest some Java side testing once you have an implementation :)

[2018-04-17 15:09] CoreRasurae commented on #84
@grfrost  Ok, thanks!

[2018-04-17 15:58] CoreRasurae commented on #84
@freemo @grfrost Proposed Javadoc enhacements:

- localBarrier()

    * Wait for all kernels in the current group to rendezvous at this call before continuing execution.<br/>
    * It will also enforce memory ordering, such that modifications made by each thread in the work-group, to the memory,
    * before entering into this barrier call will be visible by all threads leaving the barrier.
    *

[2018-04-17 16:31] freemo commented on #84
@CoreRasurae Awesome, I think this does a good job at conveying the
caveats. Want to add it in a PR or need me to integrate it manually?

On Tue, Apr 17, 2018 at 11:58 AM, CoreRasurae <notifications@github.com>
wrote:

[2018-04-17 16:34] CoreRasurae commented on #84
@freemo I am preparaing a PR for this.

[2018-04-18 02:56] freemo commented on #84
Commit implementing this has been merged. Closing ticket. Thanks @CoreRasurae  for your contribution.

[2018-04-18 02:56] #84 closed

[2018-04-18 17:25] CoreRasurae commented on #62
@KIC I've tested your JVMCrashTest and I am not getting a JVM crash, however I do get the SEVERE level log messages.
Tested with aparapi-1.4.1 and aparapi-1.7.0-SNAPSHOT along with aparapi-jni-1.2.0 on Ubuntu 16.04 LTS with an i7 CPU,a Xeon E5-2620v2, a NVIDIA Quadro NVS 4200M, a NVIDIA GTX 760 and an AMD RX460. JVM Never crashed.

@freemo @automenta
From a quick code analysis it looks like only t

[2018-04-18 18:10] CoreRasurae commented on #62
@KIC Can you confirm if this still happens with aparapi-1.4.1 and aparapi-1.7.0-SNAPSHOT both with aparapi-jni-1.2.0 ?

[2018-04-19 03:38] freemo opened #86 "Code gen not correct for assignment to static array element"
What steps will reproduce the problem? 1. In the kernel use a static field like:

[code]

the codegen does not emit "this->" for the target ref, so the results are incorrect compared to regular java.

[code]

What is the expected output? What do you see instead? The assigned values in the kernel code are not there when you return to java

[2018-04-19 04:05] freemo opened #87 "clBuildProgram fails on Fast Number Theoretic Transform algorithm"
Copied over from here: https://code.google.com/archive/p/aparapi/issues/68
Tested for here: https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/runtime/FastNumberTheoreticTransformTest.java

What steps will reproduce the problem? 1. Compile the attached test program: javac -g FNTTest.java 2. Run it: java FNTTest

What is the expected output? Program runs without errors.

What

[2018-04-19 05:07] freemo opened #88 "Kernel.execute(_range, _passes) used much host memory when _passes > 1"
Copied from google code here: https://code.google.com/archive/p/aparapi/issues/69
tested in unit test here: https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/runtime/MultiplePassesMemoryConsumptionTest.java

When I run this I get about a 2.3 mb memory consumption increase when passes is increased to 2. Originally the issue caused an out of memory exception off the same test

[2018-04-19 05:07] #88 closed

[2018-04-19 05:19] freemo opened #89 "Test fails when loading an external kernel though @Resource"
The following unit test fails (currently set to ignore) and exemplifies this issue: https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/runtime/LoadClTest.java

The specific error it produces is:
[code]

[2018-04-19 05:50] freemo opened #90 "Travis fails often due to codacy downtime"
About half of the time a travis build will fail because codacy is down or blocks us when we try to retrieve a jar. It is probably just rate limiting. Usually restarting the build will allow it to work.

[code]

[2018-04-19 15:57] freemo commented on #89
This turned out to be a bug in the test itself not the core project

[2018-04-19 15:58] #89 closed

[2018-04-19 17:30] freemo opened #91 "Codegen fails on singular boolean values"
when a kernel has a variable that is a singular boolean that is used it fails in GPU mode. Works fine for arrays of boolean and other singular variables such as int. This issue is exposed by the following unit test:

https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/runtime/UseBooleanTest.java

[2018-04-19 17:32] freemo opened #92 "Can not send null references to kernel"
If a variable can not be set to null and sent to the kernel in GPU mode, this results in a error clearly describing the limitation.

This bug is tested for here:

https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/runtime/NullRefTest.java

It produces the following exception:

[code]

[2018-04-19 17:34] freemo commented on #87
The original problem and unit test that it referenced have been reduced to their core issues. Two new more specific issues were created and as such this one will be closed. Those issues are #91 and #92

Since those issues better describe the problem I am going to close this issue.

[2018-04-19 17:34] #87 closed

[2018-04-19 17:44] freemo commented on #66
I wrote a unit test which demonstrates this bug here:

https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/runtime/ReturnInstantiatedArrayDirectlyTest.java

[2018-04-19 17:56] freemo commented on #51
The unit test which demonstrates this bug has been added here:

https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/runtime/MultiDimensionalLocalArrayTest.java

[2018-04-19 17:59] freemo commented on #22
Correct call is getNumGroups()

[2018-04-19 17:59] #22 closed

[2018-04-19 18:03] freemo commented on #21
The Quick reference guide is obsolete and no longer a part of this project. Plus we dont have the source for it. As such we are going to close this ticket as WONTFIX

[2018-04-19 18:03] #21 closed

[2018-04-19 18:09] freemo commented on #14
Since this issue is a duplicate I'm going to close it here and leave the more detailed ticket open so as not to clutter the issue system.

[2018-04-19 18:09] #14 closed

[2018-04-19 18:14] freemo commented on #16
This has since been resolved since we distribute the dlls ourselves now. Closing.

[2018-04-19 18:14] #16 closed

[2018-04-19 18:49] freemo commented on #43
@CC007 Added a $50 bounty on this if your interested.

[2018-04-19 22:49] freemo opened #93 "Break in loop causes kernel to hang"
This issue only comes up when run as a main, it doesnt appear to show up when running inside a unit test. The code below provokes the exception every time however if i replace the break statement with a return statement it works fine.

Offending code:
[code]

exception thrown:
[code]

[2018-04-19 22:52] freemo opened #94 "JtpRangeIdsTest failed due to incorrect expectations."
The following test fails and demonstrates the issue:
https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/runtime/JtpRangeIdsTest.java

[2018-04-19 23:02] freemo commented on #94
@grfrost Do you know if this test is still accurate and valid?

[2018-04-19 23:07] grfrost commented on #94
I do not know here this test came from.  Looks like it is testing the 2D java Range class to ensure that it creates the appropriate dims. But would have to study closer.

[2018-04-19 23:09] freemo commented on #94
@grfrost yea im a bit confused myself. Was hoping you might know off hand. No worries, thanks.

[2018-04-19 23:31] freemo opened #95 "Some unit tests skipped without being ignored on travis"
For some reason some unit tests are skipped even though they are not ignored on travis. On my local computer with a gpu this doesnt seem to be the case.

[2018-04-20 01:04] freemo opened #96 "Arbitrary scopes result in OutOfScope exceptions"
When defining variables inside an arbitrary java scope it can result in out of scope exceptions.

Unit test demonstrating this bug located here: https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/runtime/ArbitraryScopeTest.java

Exception thrown is as follows:
[code]

[2018-04-20 01:21] freemo opened #97 "[Bounty $20] Inline declarations throw exception."
The following unit test demonstrates this bug: https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/codegen/test/AssignAndPassAsParameterSimpleTest.java

it produces the following error:
[code]

[2018-04-20 01:36] freemo opened #98 "Pre-increment (++var) and pre-decrement (--var) throw exception."
calling ++var or --var throws an exception on code gen. However the post forms such as var-- work just fine.

This bug is demonstrated in the following unit test: https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/codegen/test/ContinueTortureTest.java

in that unit test if converted to a post decrement it works fine. As is it produces the following exception:
[code]

[2018-04-20 01:49] freemo opened #99 "Two inline assignments in the same statement produce incorrect opencl code."
The problem arrises from java statements like this:
[code]
result = int assignMe = value;
[code]
rhs:1>
lhs:14< int result = 0;
lhs:15< if (value==value){
lhs:16< result = int assignMe = value;
lhs:17< } else {
lhs:18< int assignMe = 1;
lhs:19< result = 2;
lhs:20< }
lhs:21< result++;
lhs:22< assignMe++;
lhs:23< return;
lhs:24< }
rhs:15> int result=0;
rhs:16> int assignMe=0;
rhs:17> if (true){
rhs:

[2018-04-20 02:08] freemo commented on #96
This appears to be unrelated to the arbitrary scope, the following unit test appear to fail for the same reason, it throws the same exception and has a similar structure. No arbitrary scope though. In both cases the variable is at the end of the scope and unused.

https://github.com/Syncleus/aparapi/blob/master/src/test/java/com/aparapi/codegen/test/NullCheckTest.java

[2018-04-20 18:30] #23 closed

[2018-04-20 18:32] #11 closed

[2018-04-20 19:08] freemo commented on #40
@CC007 do you think our recent implementation of barriers satisfies this ticket?

[2018-04-21 23:06] CoreRasurae opened #101 "Deadlock running integration test ProfileReportBackwardsCompatTest.sequentialSingleThreadJTPTest()"
It looks like some of the threads die during kernel execution, at least there should be 16 threads and I only have 7 running and they are all waiting on a CyclicBarrier on KernelRunner.await() line 331 called from KernelRunner.access() line 679 called from KernelRunner.run() line 663. Could it be some exception that is thrown that makes the threads die and then there aren't enough parties for the

[2018-04-21 23:39] freemo commented on #62
Issue is now resolved in master branch, closing ticket.

[2018-04-21 23:39] #62 closed

[2018-04-22 09:06] CoreRasurae commented on #101
I am able to reproduce the bug before the feature was merged at commit cd911b937c7804dac495f5fadd573fe1f2ac5a4f -  test: added another test showing out of scope error.

With the attached test -
[ProfileReportBackwardsCompatTest.java.txt](https://github.com/Syncleus/aparapi/files/1935359/ProfileReportBackwardsCompatTest.java.txt)

[2018-04-22 12:03] CoreRasurae commented on #101
I was also able to reproduce the bug with aparapi releases 1.4.1 and 1.6.0.

[2018-04-22 17:25] freemo commented on #101
@CoreRasurae Thanks.. I am worried this might be a tricky one to catch, particularly since it has yet to occur for me locally, only on travis. But ill keep poking around and see what i come up with.

[2018-04-22 20:01] automenta commented on #101
pitest might be useful here to discover test deficiencies http://pitest.org/

[2018-04-22 20:31] freemo commented on #101
@automenta i got them to use pitest at comcast. Its slow but can be useful

[2018-04-22 23:04] CoreRasurae commented on #101
@freemo I think the easiest way to reproduce the problem is to run it on a dual core machine, where the number of cores are restricted.

[2018-04-23 00:15] freemo commented on #101
This bug has been resolved, closing.

[2018-04-23 00:15] #101 closed

[2018-04-23 11:42] CoreRasurae commented on #94
@freemo The JtpRangeIdsTest is absolutely **flawed**. I spent some time with this, thinking this was a solvable problem, but it isn't. The test is rigged. For instance consider globalIdX=3, and globalIdY=1, according to the test this would give globalThreadId=1*12+3=15, now if we look into the test table entry test[15] it says that globalIdX should have been 7 and that globalIdY should have been 1

[2018-04-23 11:46] CoreRasurae commented on #94
@freemo I do agree that Aparapi could have a better distribution logic, that could mimic better what OpenCL is likely to do, and so executing whole group at a time, instead of executing chunks from different groups at a time, however that would be a new feature, and would have to been done for 2D and 3D ranges. So this test is completely a no go, it only made me loose time to assess bugs in the te

[2018-04-23 16:06] freemo commented on #94
@CoreRasurae So your saying the behavior is normal and the test itself is flawed and should be removed?

[2018-04-23 17:02] CoreRasurae commented on #94
@freemo Yes, this test is flawed. However it can be fixed to make some useful validation. It would just test the 2D range, there would be the need for tests for 1D, and 3D ranges.

[2018-04-23 17:03] CoreRasurae commented on #94
@freemo removal of the test is an option too. As a test it is useless as it is.

[2018-04-23 22:07] freemo opened #107 "[Bounty $30] Host memory not copied to device causing slowdown"
Copied this bug over from here: https://stackoverflow.com/questions/39980333/opencl-aparapi-simple-reduction-slow-on-radeon

I am trying to code a simple reduction (in this case a sum) over a large double array in OpenCL. I have looked at online tutorials and found that this is essentially the way to solve my problem:

[code]

If you are wondering about the strange `this`, that is an (unfortunatel

[2018-04-23 23:05] freemo commented on #94
@CoreRasurae What are you thought on just adapting the test so the values in the matrix allow it to pass? Since its not a bug that would ensure behavior remains predictable anf garuntees regression.

[2018-04-24 01:47] #90 closed

[2018-04-24 01:50] freemo commented on #90
This fix also caused codacy coverage to start showing full details, YAY!

[2018-04-24 01:57] freemo opened #111 "Add OpenCL 2.1 testing in travis"
Travis currently only tests on OpenCL 1.2 and OpenCL 2.0. We should add testing for OpenCL 2.1 as well.

[2018-04-24 02:11] #94 closed

[2018-04-24 02:33] freemo commented on #61
I couldnt find a sane way to change the logger level without effecting other legitimate warnings. Going to recommend this be changed locally in the logger config when needed. Will reopen if anyone has any good suggestions.

[2018-04-24 02:33] #61 closed

[2018-04-24 02:34] #39 closed

[2018-04-24 15:53] CoreRasurae commented on #51
@fremo This is an aparapi-native bug. OpenCL does not support 2D arrays, so all arrays are mapped from Java 2D or 3D arrays (4D arrays and more n-dimensional are not supported) to 1D array in Aparapi and back. Apparently local arrays with 2D and 3D dimensions were never tested or properly implementend in aparapi-native.

[2018-04-24 15:55] freemo commented on #51
@CoreRasurae Thanks, useful info for anyone trying to tackle this bug.

[2018-04-24 15:56] CoreRasurae commented on #51
@freemo It also happens that using 2D or 3D arrays hurts a bit Aparapi perfomance, because Java does not allocate a contiguous memory region for 2D and 3D arrays, instead it allocates bunches of 1D arrays, and thus are non-contiguous in memory. In the name of compatibility Aparapi hides this at the cost of performance.

[2018-04-24 15:57] CoreRasurae commented on #51
@freemo I will submit a PR for this in aparapi-native, already have it solved.

[2018-04-24 15:58] freemo commented on #51
@CoreRasurae awesome, thanks. I wish there was an easy way to move tickets between projects. But i suppose since there isnt it makes sense to keep most of the tickets here.

[2018-04-24 15:58] CoreRasurae commented on #51
@freemo BTW JVM is crashing due to a null pointer de-referencing in aparpi-native.

[2018-04-24 16:00] freemo commented on #51
@CoreRasurae Neither me nor travis have come across that problem. Can you
create a ticket with any details and, ideally, sample code or a unit test
that recreates it?

On Tue, Apr 24, 2018 at 11:58 AM, CoreRasurae <notifications@github.com>
wrote:

[2018-04-24 16:24] CoreRasurae commented on #51
@freemo That null pointer is the cause of the JVM crash reported by this issue, although the problem is deeper than that.

[2018-04-24 18:15] freemo opened #112 "MultiDimensionalLocalArrayTest should also test 3D arrays"
MultiDimensionalLocalArrayTest should be extended to cope with 3D too on local and global arrays

[2018-04-24 21:35] freemo commented on #51
This appears to be fixed, closing for now.@raner and @CoreRasurae thank you for your contributions.

[2018-04-24 21:35] #51 closed

[2018-04-24 21:39] freemo opened #113 "Profiling unit tests fail due to timeout"
The following error occurs periodically.

[code]

Bumping up the timeout should be a good enough solution

[2018-04-24 21:57] freemo commented on #113
fixed

[2018-04-24 21:57] #113 closed

[2018-04-24 23:34] freemo commented on #78
@Vineg and @CoreRasurae this ticket is now resolved. Fix is in master and will be released in 1.8.0.

[2018-04-24 23:34] #78 closed

[2018-04-27 00:28] freemo opened #118 "Configurator can't find devices"
So merged in all of @CoreRasurae 's configurator code and ran the unit tests but got the following exception. So the release will be held off until we fix this.

[code]

[2018-04-27 00:48] freemo commented on #107
This has now been resolved and added to master, will be included in the next release.

[2018-04-27 00:48] #107 closed

[2018-04-27 13:41] CoreRasurae commented on #118
@freemo Its ready for merging, from my side

[2018-04-27 18:22] freemo opened #120 "Travis fails because it needs AMDAPP-SDK"
the AMDAPP-SDK has been taken down as such travis now fails. We need an alternative solution.

[2018-04-27 18:26] freemo commented on #118
@CoreRasurae resolved, thabks

[2018-04-27 18:26] #118 closed

[2018-04-27 18:33] automenta commented on #120
maybe Intel or ARM will contribute

[2018-05-08 06:48] freemo opened #122 "Aparapi 1.8.0 and 1.9.0 fail to run OpenCL on Mac OSX"
My local CI process seems to have a bug in it and let a failing build pass. Fixing that. In the meantime I think the issue introduced is related to profiling somehow. When i run the correct dyamic lib against aparapi's test cases on OSX I get the following, with the last test listed apparently hanging forever (let it run for like 5 minutes).

The bug was first introduced in aparapi 1.8.0 and apara

[2018-05-08 17:53] freemo opened #124 "Is device fallback working properly?"
@CoreRasurae seemed to suspect that device fallback works only from Opencl to JTP but does not fallback from one OpenCL device to another such as GPU to CPU.

[2018-06-07 08:06] eklavya opened #130 "Support for scala"
Scala generated bytecode is not supported yet.

Example project: https://github.com/eklavya/OpenCLWB

https://github.com/eklavya/OpenCLWB/blob/master/src/main/scala/Main.scala#L37-L38 switches between scala and java kernels.

Code:
[code]

Log:
[code]

[2018-06-07 08:13] eklavya commented on #130
Class files from the example.
[classes.zip](https://github.com/Syncleus/aparapi/files/2079504/classes.zip)

[2018-06-07 08:16] eklavya commented on #130
for this to work, com.aparapi.internal.instruction.Instruction needs to have:
[code]
on lines 816-817

[2018-06-07 08:36] eklavya commented on #130
Generated OpenCL code in case of scala kernel:
[code]

In case of java kernel:
[code]

[2018-06-24 11:46] hc-codersatlas opened #132 "Add support for classifiers for jar"
Many builds with natives have support for maven classifiers (used to provide separate jars depending on OS). This reduces download size etc.

Please add this to aparapi-jni.

[2018-06-24 13:16] freemo commented on #132
Sounds good, Ill accept PR for this as well.

[2018-06-24 13:20] #120 closed

[2018-06-29 11:57] Godsoft029 opened #135 "cleanUpArrays() Error on AMD OPENCL"
OpenCL version: 2.1
Windows 10 x64
Happens on both AMD<GPU> and AMD<CPU>

Taking a look at the [error codes](https://streamhpc.com/blog/2013-04-28/opencl-error-codes/) it is clear that it doesnt want to execute 0-range-kernels. Is this intended behaviour?

Error Log:
`after clEnqueueNDRangeKernelWOOOT5
, globalSize[0] = 0, localSize[0] = 1
!!!!!!! clEnqueueNDRangeKernel() failed invalid work group

[2018-06-29 19:01] CoreRasurae commented on #135
@Godsoft029 Yes, it is the intended behaviour. The globalSize must be a multiple of localSize. If your localSize is 1 then globalSize must be at least 1, if globalSize is 10, then you will have 10 groups of localSize 1.

[2018-07-01 22:31] #130 closed

[2018-07-22 00:01] gpeabody commented on #81
@CoreRasurae
I use 2 AtomicInteger arrays for 2 million indexes each. This causes about 200 milliseconds to prepare and extract these arrays.
Is it possible to avoid preparation and extraction at each execution of the kernel?
I do not need to transfer these arrays to the host, only use them on execution.

[2018-07-22 11:11] gpeabody opened #138 "Huge AtomicInteger arrays"
@CoreRasurae
I use 2 AtomicInteger arrays for 2 million indexes each. This causes about 200 milliseconds to prepare and extract these arrays.
Is it possible to avoid preparation and extraction at each execution of the kernel?
I do not need to transfer these arrays to the host, only use them on execution.

[2018-07-22 11:14] gpeabody commented on #138
@CoreRasurae What is the maximum size of this array I can put in the local memory?
I've tried, but 2 million cause a memory overflow error.
I need to use global GPU memory (not a host), since all threads work with these arrays, and not just within the workgroup.

[2018-07-22 11:42] CoreRasurae commented on #138
@gpeabody The maximum size of the array is defined by the local memory size. Which typically ranges from 32KiB to 48KiB depending on the GPU. So for sure 2 million entries, won't fit, however they're supposed to be split across the workgroups.
If you need to have multiple workgroups with inter-workgroup atomic accesses then yes, you can only use global memory based atomics. In such case there is n

[2018-07-22 11:51] gpeabody commented on #138
The maximum size of the array in my case is 8192
    @Local
    AtomicInteger[] atomics = new AtomicInteger[8192];
But this is not a solution, since only the workgroup is working with the array in the local memory

I already use Kernel.setExplicit, but this absolutely does not make difference in the case of an atomic arrays

I definitely need to try this. But where can I find documentation and exa

[2018-07-22 11:53] CoreRasurae commented on #138
@gpeabody Essentially what can be achieved is importing the initial values from the global memory, but avoiding from transferring back the AtomicInteger array from the kernel at the end of kernel execution, back to Java.
I have never tried to use global memory without having Aparapi transfer the initial data, I believe it is not supported. It could be feasible to initialize the memory inside the k

[2018-07-22 11:58] gpeabody commented on #138
That's exactly what I'm doing.

What about "helper methods to access the atomics without having any direct reference inside the Kernel.run() method"?

[2018-07-22 12:06] CoreRasurae commented on #138
@gpeabody It is strange that kernel.setExplicit(true) makes no difference... If you run an Aparapi kernel that depends on non-atomic arrays only and set kernel.setExplicit(true), but you never call kernel.set(...) or kernel.get(...) does it still produce correct results?
Unfortunately there is no documentation for that, but I can provide you a simple example.
[code]

[2018-07-22 12:08] gpeabody commented on #138
This is my test

[code]

[code]

[2018-07-22 12:19] gpeabody commented on #138
atomicInc (java.util.concurrent.atomic.AtomicInteger) in Kernel cannot be applied to (int)

[2018-07-22 12:20] CoreRasurae commented on #138
@gpeabody Yes, sorry I didn't test my example what you need is:
[code]

[2018-07-22 12:22] CoreRasurae commented on #138
@gpeabody Regarding your current test kernel code, you will need to remove method getAtomics() from the kernel and all calls to it.

[2018-07-22 12:32] gpeabody commented on #138
[code]
Exception in thread "main" java.lang.ClassCastException: com.aparapi.internal.instruction.InstructionSet$I_ALOAD_1 cannot be cast to com.aparapi.internal.instruction.InstructionSet$AccessField
	at com.aparapi.internal.writer.BlockWriter.getUltimateInstanceFieldAccess(BlockWriter.java:806)
	at com.aparapi.internal.writer.BlockWriter.isMultiDimensionalArray(BlockWriter.java:791)
	at com.apara

[2018-07-22 12:41] CoreRasurae commented on #138
@gpeabody What Aparapi version are you using?

[2018-07-22 12:47] gpeabody commented on #138
#Created by Apache Maven 3.3.9
version=1.8.0
groupId=com.aparapi
artifactId=aparapi

[2018-07-22 12:47] CoreRasurae commented on #138
@gpeabody Can you try with the current git code in master branch?

[2018-07-22 12:54] CoreRasurae commented on #138
@gpeabody In the master branch there is new code to deal with Java ByteCode analysis. Also if update to Aparapi 1.9.0 at least you can get extra execution performance on discrete GPUs, by doing OpenCLDevice.setSharedMemory(false).

[2018-07-22 13:09] gpeabody commented on #138
1.9.0
the same...

Exception in thread "main" java.lang.ClassCastException: com.aparapi.internal.instruction.InstructionSet$I_ALOAD_1 cannot be cast to com.aparapi.internal.instruction.InstructionSet$AccessField
	at com.aparapi.internal.writer.BlockWriter.getUltimateInstanceFieldAccess(BlockWriter.java:806)
	at com.aparapi.internal.writer.BlockWriter.isMultiDimensionalArray(BlockWriter.java:791)

[2018-07-22 13:12] gpeabody commented on #138
[code]

[2018-07-22 14:36] CoreRasurae commented on #138
@gpeabody Sure Aparapi 1.9.0 will give the same issue with that Java Bytecode, but you can improve the execution time of your original kernel just using OpenCLDevice.setSharedMemory(false) on discrete GPUs.

[2018-07-22 14:37] gpeabody commented on #138
How I can get 1.10.0?

[2018-07-22 14:40] CoreRasurae commented on #138
@gpeabody Secondly, if you try the code in git master branch, and compile Aparapi. you will likely be able to run that modified kernel.
git clone https://github.com/Syncleus/aparapi -b master --single-branch
Then build with
mvn package

[2018-07-22 14:43] CoreRasurae commented on #138
@gpeabody 1.10.0 is yet to be released. @freemo Is there a release date for this?

[2018-07-22 14:56] gpeabody commented on #138
I cloned 1.10.0 jar but maven does not recognize it. What should I change?
[code]

[2018-07-22 15:03] CoreRasurae commented on #138
@gpeabody No, it won't recognize Aparapi like that, Aparapi 1.10.0 is not yet released, so it isn't on maven central repo. You will need to compile Aparapi 1.10.0-SNAPSHOT from git and then add the JARs to the maven local repository.
Then you will need to change your pom.xml to point to <version>1.10.0-SNAPSHOT</version>

You will need maven documentation on how to manually add a jar to your local

[2018-07-22 17:43] gpeabody commented on #138
Exception in thread "main" java.lang.NoClassDefFoundError: com/aparapi/natives/NativeLoader
	at com.aparapi.internal.opencl.OpenCLLoader.<clinit>(OpenCLLoader.java:43)
	at com.aparapi.internal.opencl.OpenCLPlatform.getOpenCLPlatforms(OpenCLPlatform.java:73)
	at com.aparapi.device.OpenCLDevice.listDevices(OpenCLDevice.java:517)
	at com.aparapi.internal.kernel.KernelManager.createDefaultPreferredDev

[2018-07-22 17:48] gpeabody commented on #138
may be my pom.xml is not correct?

[code]

[2018-07-22 18:10] gpeabody commented on #138
there is really no NativeLoader in your repo:

`import com.aparapi.natives.NativeLoader;`

[2018-07-22 18:31] CoreRasurae commented on #138
@gpeabody You will also need to include aparapi-jni (https://github.com/Syncleus/aparapi-jni) in your pom.xml. You can grab it from with this:
[code]

[2018-07-22 18:39] gpeabody commented on #138
Ok. thank you very much for your patience!
returned to the beginning))

Exception in thread "main" java.lang.ClassCastException: com.aparapi.internal.instruction.InstructionSet$I_ALOAD_1 cannot be cast to com.aparapi.internal.instruction.InstructionSet$AccessField
	at com.aparapi.internal.writer.BlockWriter.getUltimateInstanceFieldAccess(BlockWriter.java:808)
	at com.aparapi.internal.writer.BlockW

[2018-07-22 19:22] CoreRasurae commented on #138
@gpeabody Ok... We'll have to fix that...

[2018-07-22 19:50] gpeabody commented on #138
this code that you showed above works correctly on your device?
[code]

I'll try OpenCLDevice.setSharedMemory(false), but don't think that this will greatly improve the situation.
My kernel execution take 20 milliseconds without AtomicInteger[] and 200 milliseconds with it.

[2018-07-22 21:20] CoreRasurae commented on #138
@gpeabody I've similar code to that, but without the atomics, to reduce data transfers.
Regarding setSharedMemory(...), atomics will always delay execution a bit, but more importantly discrete GPUs don't share their memory with the host, thus global memory accesses with have to be made through the PCIe bus, which will greatly increase the latency and thus slowdown the kernel execution. All your At

[2018-07-22 23:01] gpeabody commented on #138
Why you use this code for non-atomic data if you can use setExplicit?

I tried to use setSharedMemory but get "non-static method cannot be referenced from a static context". Seems it must be new instance... How to use it correctly?

[2018-07-23 10:50] CoreRasurae commented on #138
@gpeabody It is true that one can use setExplicit(...), it also normal that one wants to structure the code better, that just implement everything in kernel.run() method, currently that also has the side effect of surpassing Aparapi automatic detection of variable usages (that is, if they're used for data Input, Output or both). So it is as alternative way to achieve that, and since you complain t

[2018-07-23 20:40] gpeabody commented on #138
As I understand after a variety of tests, the function setExplicit disables the transfer of all data except AtomicInteger[] arrays. If the AtomicInteger[] array is small then it is invisible. This becomes important only if the AtomicInteger[] array is large enough.

[2018-07-23 21:36] gpeabody commented on #138
results:

Device isShareMempory(): false
...Device name: Tahiti, Id: 3143440
Device isShareMempory(): false
...Device name: AMD FX(tm)-6100 Six-Core Processor             , Id: 520386736
Execute time: 562.142399
Execute time: 100.888389
Execute time: 80.919264
Execute time: 81.842185
Execute time: 81.003895
Execute time: 80.972699
Execute time: 82.700549
Execute time: 81.55493
Execute time: 80.306

[2018-07-23 21:41] gpeabody commented on #138
withot AtomicInteger[]:

Device isShareMemory(): false
...Device name: Tahiti, Id: 3143440
Device isShareMemory(): false
...Device name: AMD FX(tm)-6100 Six-Core Processor             , Id: 521107632
Execution time: 449.848156
Execution time: 18.20946
Execution time: 18.171468
Execution time: 18.020428
Execution time: 18.000968
Execution time: 18.050079
Execution time: 18.031239
Execution time: 18

[2018-07-24 11:04] CoreRasurae commented on #138
@gpeabody I will try to fix the I_ALOAD_1 bytecode issue when passing AtomicInteger parameters, and will have a look around the setExplicit(...) handling with atomic arrays, when I find some time. Currently I am with lots of work on other projects.

Anyway, keep in mind that atomics will always slow down the application a bit, because they involve more complex operations than a simple sum of two i

[2018-07-24 11:09] gpeabody commented on #138
Can I initialize the AtomicInteger array once, transfer it to the GPU before the kernel is first started, and after that do not transfer and do not receive it back at all?
I need it only to work in the global GPU memory.

[2018-07-24 11:11] gpeabody commented on #138
OK. Thank you for your understanding. I hope it does not take long.

[2018-07-24 11:16] CoreRasurae commented on #138
@gpeabody I can't guarantee any time frame for this at the current moment, if you're needing this soon, maybe you can try to look at the code. The relevant code is in java.com.aparapi.internal.kernel.KernelRunner class, in methods private boolean prepareAtomicIntegerConversionBuffer(KernelArg arg) throws AparapiException and private void extractAtomicIntegerConversionBuffer(KernelArg arg) throws A

[2018-07-26 20:12] gpeabody commented on #138
If I change two next lines in KernelRunner.java it will be run correctly or it will damage another logic?

1040
`if (!explicit) extractAtomicIntegerConversionBuffer(arg);`

1183
`if (!explicit) prepareAtomicIntegerConversionBuffer(arg);`

[2018-07-27 10:51] CoreRasurae commented on #138
@gpeabody Feel free to try. I believe that, by itself, is not sufficient, you would also need to define Kernel.put(AtomicInteger[] arr) and Kernel.get(AtomicInteger[] arr) to ensure you can transfer the data to the kernel. You may also need some additional changes to that in order to ensure that even if no transfer is made, memory is allocated in the GPU for the atomic array which will be an int a

[2018-07-27 11:56] gpeabody commented on #138
I don't use this arrays on host, only inside GPU. For me is no necessary Kernel.get(AtomicInteger[] arr). But if first inicialisation run on host, then I need Kernel.put(AtomicInteger[] arr). Isn't it?

"if no transfer is made, memory is allocated in the GPU for the atomic array which will be an int array in OpenCL"
How i can be sure that memory is allocated in the GPU?

[2018-07-28 10:09] CoreRasurae commented on #138
The only way of initializing/allocate GPU GlobalMemory in OpenCL is to transfer the data from the host, so  yes, you will need kernel.put(AtomicInteger[] arr), or at least transfer an empty array that will become associated with the AtomicInteger[].

[2018-08-01 20:35] gpeabody commented on #138
Hello. It's me again.
I can not run the two changes I wrote above.

If I change
`if (!explicit) prepareAtomicIntegerConversionBuffer(arg);`
the compilation does not pass the test. I can't get the jar file.

If I only use
`if (!explicit) extractAtomicIntegerConversionBuffer(arg);`
the compilation goes through. My test runs twice as fast. But AtomicInteger does not work. atomicInc(atomics[0]); in th

[2018-08-24 00:14] CoreRasurae commented on #138
@gpeabody Aparapi 1.10.0 will be released soon, it will include #139 which fixes one of the issues you were having:
[code]

[2018-09-02 20:28] CC007 commented on #43
Sorry for the late reply. I didnt really have much free time in the past year, and totally missed all messages from aparapi ^^; It has been a while since I used aparapi, but I might take a look at it at a later date.

[2018-09-03 21:09] mtommila commented on #135
It seems like this error happens everytime `Kernel.cleanUpArrays()` is called, which probably is not intended? It also happens in the `CleanUpArraysDemo` class in the aparapi-examples repo.

[2018-10-02 21:33] Helios85 opened #141 "Enable Flags don't work anymore in 1.10.0"
Setting the following enable flags either via -D VM parameters or via

`        System.setProperty("com.amd.aparapi.enableShowGeneratedOpenCL", "true");
         System.setProperty("com.amd.aparapi.enableProfiling", "true");
`

does not work anymore in Aparapi 1.10.9

[2018-11-27 20:35] Helios85 opened #142 "Java Alternative Algorithm does not work for arbitrary NDRanges"

[2018-11-27 20:45] Helios85 commented on #142
Aparapi "falls back" to a "Java Alternative Algorithm" (JAA) in cases where the Java byte code cannot be translated to OpenCL code. The JAA, however, only works if the NDRange is an exact power of 2. The following example illustrates the problem:

[code]
Execution yields the following incorrect output:
[code]

[2018-11-28 19:47] gpeabody commented on #138
@CoreRasurae
Hello
I've installed 1.10.1 version.
No more I_ALOAD_1 error, thank you.
But the time running of kernel the same as before. It does not matter to use atomicInc inside run() method or inside atomicUpdate() it take 66 miliseconds. Against with 15 miliseconds with no atomics.

Without atomics:

Execution time: 346.024275
Execution time: 17.025696
Execution time: 16.60802
Execution time:

[2019-02-18 06:39] Xianguang-Zhou opened #143 "The JVM crashes irregularly."
I am writing [a neural network library](https://github.com/Xianguang-Zhou/light_neural_network/tree/master/java) with Aparapi, but when I test the code, the JVM crashes irregularly.

Here is the error message:
[code]

Here is the test code:
[code]

[2019-02-18 23:22] hc-codersatlas opened #144 "Make Scala optional"
Hi, can the Scala dependency and code be made optional and/or as a separate jar? This greatly increases the download for non-Scala users. Thanks.

[2019-02-25 07:44] vonlippmann commented on #143
I have met the same problem, do you have any idea to solve this problem yet?

[2019-02-25 09:55] vonlippmann opened #145 "A fatal error has been detected by the Java Runtime Environment"
### This is my first time to try Aparapi. This is my development enviroment info:

| __Info__ |
| ---- |
|____Win10____|
|__NVIDIA Quadro Series K2200 with CUDA10__|
|__Aparapi 1.10.0__|
|__JDK 1.8.0__|

### I input the command nvcc -version in power shell,and got info:
<pre>
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation
Built on Sat_Aug_25_21:08:04_Central_Dayli

[2019-02-25 10:19] CoreRasurae commented on #145
@vonlippmann Are you running your code from command line, or from an IDE? If running from an IDE, try running from the command line, just check if it still reproduces the issue. I would also suggest for you to download the sources of aparapi, aparapi-native, aparapi-jni and recompile them in your local machine. At least recompiling aparapi.

[2019-02-25 10:25] CoreRasurae commented on #143
@Xianguang-Zhou Are you running your code from inside an IDE, or from command line? Can you try to recompile aparapi, aparapi-native, aparapi-jni from sources. At least try recompiling aparapi. The code you are showing does not contain the aparapi Kernel, so I have no idea if there is a problem in it.

[2019-02-25 10:37] Xianguang-Zhou commented on #143
@vonlippmann, I am trying to use JOCL instead of Aparapi.

[2019-02-25 11:56] Xianguang-Zhou commented on #143
Hello @CoreRasurae , the Aparapi kernels are here:
https://github.com/Xianguang-Zhou/light_neural_network/tree/master/java/src/main/java/org/zxg/ai/lnn/tensor
The test code is used for testing my neural network library. Aparapi is used for accelerating tensor computations in my neural network library.
My neural network library is here:
https://github.com/Xianguang-Zhou/light_neural_network/tree/ma

[2019-02-25 13:15] vonlippmann commented on #145
I tried but failed.  I suddenly think maybe my project is not suitable for GPU computing. So i given up for trying aparapi temporarily. Thank you all the same!

[2019-02-25 13:38] CoreRasurae commented on #143
Hi @Xianguang-Zhou,
I am unable to reproduce the instability you're experiencing, I've run your test code 15 times one after the other, and it always ran until the end.
I've ran from the command line, like this:
[code]
Tested with NVIDIA proprietary driver on Linux with a GTX 1050Ti and openjdk 11.

Please check if it is a problem with your AMD driver, can you try with a different driver, or GPU?

[2019-02-25 13:46] vonlippmann commented on #145
CNN can be accelerated by GPU indeed , but my project is not about deeplearning now. My project  is currently about topology optimization, there are many logic control in my code ,the main numeric computing is to solve a large linear system of equations which may be difficult to simply use aparapi to realize GPU computing.

[2019-02-25 15:26] vonlippmann commented on #143
@CoreRasurae, I only installed cuda10. Do I still need install Opencl sdk？it seems opencl sdk for nvidia is included in cuda

[2019-02-25 19:35] CoreRasurae commented on #143
@vonlippmann  For opencl on windows, it normally suffices to install the nvidia driver itself. You can look for clinfo command line utility which can be downloaded from the internet. You can also try gpu-z (https://www.techpowerup.com/gpuz/). Those utilities can check if OpenCL is working or not.

[2019-03-06 12:04] NorbiPeti commented on #142
It seems to be multiples of 4, not powers of 2. Anything below 4 is 0, below 16 is 12.

[2019-03-06 13:03] freemo commented on #142
Hmmm that is interesting. I will have to investigate this issue again and
see if that provides any new clues.

On Wed, Mar 6, 2019 at 1:04 PM NorbiPeti <notifications@github.com> wrote:

[2019-03-17 06:20] Xianguang-Zhou commented on #143
@CoreRasurae , thank you for your help.
I have replaced Aparapi with JOCL, and the JVM does not crash.

[2019-03-17 06:20] #143 closed

[2019-05-07 14:15] PtrMan opened #146 "More detailed Exceptions"
I try to mess around with this (never used this lib before) and I get indecyperable error messages like this.

[code]

Would be great if a exception would carry the detailed reason(s):
* why is it not valid?
* which bytecode instruction failed to get translated for what reason

now I have to guess again

[2019-05-07 14:35] PtrMan opened #147 "Failed to translate Kernel"
Either the kernel is written in a wrong way or this lib is bugged.

It prints these(and more) errors to the console
[code]

when compiling

https://pastebin.com/Dmtj3758

[2019-05-08 19:56] PtrMan commented on #147
Ah, the driver doesn't like the variable name "kernel" - so it craps out

[2019-05-08 19:56] PtrMan commented on #147
Maybe this lib should add a prefix to all variable names, this way this BS can't happen

[2019-05-31 14:33] grfrost commented on #147
Sadly (but no surprisingly)  kernel is a reserved word in OpenCL

[2019-07-10 15:36] toonijn commented on #99
Upon investigating: the problem isn't really
[code]
the problem is
[code]

The statement `int b;` doesn't really produce byte code. So the first time it is seen it can't be declared.
It has exactly the same problem as #97 . Throwing an error would work, but less than perfect. Maybe I'll try to fix it, but it won't be easy: the BlockWriter seems not able to insert a line before the current one.

[2019-07-10 16:04] toonijn commented on #99
It maybe is beneficial to just throw the concept of multi_assign out. In essence, it's just a simple assign and one (or more) inline assigns.

[2019-07-12 14:24] toonijn commented on #99
Because declarations without assignment (e.g. int a;) are not saved in the byte code or local variable table, it is very hard to discover what the scope of a variable is. I suspect most decompilers will guess the broadest scope possible.

I suggest rethinking how to work with variables. One possibility is to ignore the local variable table and have just variables like: i1, d2, a0... with i1 an int

[2019-07-16 09:41] orvarehn opened #148 "Still can't run Aparapi v1.10.0 - v1.8.0 on Mac OSX (MacBook Pro 2x GPU).. but v1.7.0 works"
Related to #122

Just trying out aparapi I ran the aparapi-examples .. and got the failing tests when trying to build v1.9.0 (and v1.8.0) .. since discovering #122 I tried v1.7.0 and (after turning of JavaDoc generation that for some reason failed) I can get the examples to run on my MacBook Pro.

So I thought that v1.10.0 had the bugfix for this issue and tried an example "devices in preferred or

[2019-07-19 19:36] jchan007 commented on #148
I had the same issues running on macOS for any Aparapi versions greater than 1.7.0.

[2019-07-19 19:48] freemo commented on #148
This is quite odd as it does run for me on the latest on macOS... At least
i think so. Let me try replicating this again my memory might be faulty.

On Fri, Jul 19, 2019 at 9:36 PM jchan007 <notifications@github.com> wrote:

[2019-07-24 13:17] orvarehn commented on #148
If it is any help this is my Macs hardware and graphics:
its macOS Mojave v10.14.5
And it apparently has 2xggr GPUs, could it be this that throws the newer versions of aparapi?
@jchan007 does your mac also have 2 GPUs?
@freemo Just let me know if there is anything I can do to help, I'm on summer vacation this and next week but after that I'm back to work and can answer quicker. :-)

Hardware Overv

[2019-07-31 13:28] freemo opened #149 "Won't compile on windows"
Same as this issue: https://github.com/Syncleus/aparapi-examples/issues/7

[2019-07-31 13:30] #149 closed

[2019-07-31 18:16] hungrybluedev opened #151 "Tests Fail when running Maven on Windows 10"
## Setting up the Environment on Windows

All software installed via [Scoop](https://scoop.sh/).
1. `scoop add bucket java`
2. `scoop install openjdk13 git maven` (Tried with `oraclejdk` too, but same result.)

## Commands Run

[code]

# Ouput

A brief summary of the verbose output is that a few of the tests are failing when Maven is run.

[code]

[2019-07-31 18:39] hungrybluedev commented on #151
After trying again, it was evident that several tests were also failing:

[code]

[2019-08-16 15:29] wave-b opened #152 "Problems with accessing multidimensional arrays with different sizes in higher dimensions"
I got this error message:
[code]
then did some diving into my code, as JTP resulted in normal execution... Then I found the error, i am using three dimensional arrays with different dimension sizes. So here is a Unit Test to show the error:
[code]
The tests "pass" and "pass_2" pass without a problem. But when testing the "crash"-test, then the JVM gets an Access violation.
<details><summary>Here i

[2019-08-19 11:06] AlexanderFedyukov opened #153 "Kernel.dispose always fail in openjdk12"
Every call of Kernel.dispose fails in openjdk-12 and in openjdk-11 with error:

[code]
, in openjdk-8 works well.

[2019-08-19 12:02] CoreRasurae commented on #153
@AlexanderFedyukov Please detail your full system configuration, Linux distribution, kernel version, libdrm version, mesa version, GPU. I've been using Ubuntu 18.04 LTS, kernel 4.15.0, libdrm 2.4.97, mesa  with OpenJDK 11.0.4 and mesa 19.0.8 and kernel.dispose() causes no issue.

[2019-08-20 05:56] AlexanderFedyukov commented on #153
Detailed platform info I can gather later. But I suppose the reason of the issue is in code, I'll prepare and publish sample.

[2019-08-20 12:19] AlexanderFedyukov commented on #153
@CoreRasurae , can you check this [sample](https://github.com/Syncleus/aparapi-examples/blob/master/src/main/java/com/aparapi/examples/mapreduce/Main.java). It falls with the same error.

[2019-08-20 15:37] AlexanderFedyukov commented on #153
My system is Fedora 30 5.2.8-200.fc30.x86_64 Display controller: Advanced Micro Devices, Inc. [AMD/ATI] Baffin [Radeon RX 460/560D / Pro 450/455/460/555/555X/560/560X] (rev e5) OpenJDK 64-Bit Server VM 19.3 (build 12.0.2+9, mixed mode, sharing)

[2019-08-20 16:58] CoreRasurae commented on #153
@AlexanderFedyukov I tried the sample you provided and it does replicate the problem. It happens with all aparapi-jni that I've tried, 1.2.0, 1.3.1, 1.4.0, 1.4.1. I'll give it a look...

[2019-08-21 00:31] freemo commented on #153
We should probably work this into a unit test as a first step. If you arent
already doing that I can find some time this week. Then we can try to fix
it.

On Tue, Aug 20, 2019 at 6:59 PM CoreRasurae <notifications@github.com>
wrote:

[2019-08-21 20:08] CoreRasurae commented on #153
The root cause of this bug is caused by a leftover from original unfinished Aparapi sketch, that is, the Segmentation fault occurs when a multidimensional array is present (e.g. dimension > 1) and JNIContext::dispose() from aparapi-native is called.
When such happens JNIContext::dispose() will try to do:
```jenv->DeleteWeakGlobalRef((jweak) arg->aparapiBuffer->javaObject);```
but there is no corre

[2019-08-21 21:49] CoreRasurae commented on #153
**Correction** there are two different ways that allow the bug to be fixed:
a) Remove all references to Java Object, by making aparapi-native retrieve the current address of the buffer, which shouldn't change between execution() and result retrieval(), despite crossing more than one JNI call.
b) The one I ended up implementing: Make sure NewWeakGlobalRef(...) is called when a multidimensional arra

[2019-08-22 04:12] AlexanderFedyukov commented on #153
Sorry, your solution is not clear for me. Can you clarify, does workaround exists?

[2019-08-22 12:57] CoreRasurae commented on #152
@wave-b This is an unsupported feature for Aparapi. OpenCL can only handle 1D arrays, Aparapi extends this to 2D and 3D arrays, however array sizes must be consistent across all dimensions. It is not supported to have variable dimensions in sub-arrays, depending on their indices.

[2019-08-25 02:47] freemo commented on #152
We decided this is more of a feature request. It would make for a very inefficient system without much advantage. Going to close this. Feel free to comment further if anyone would like this feature reconsidered.

[2019-08-25 02:47] #152 closed

[2019-08-25 05:02] freemo commented on #153
fixed

[2019-08-25 05:02] #153 closed

[2019-08-25 05:13] wave-b commented on #152
Well thank you for the answers and explanation @CoreRasurae . I think the error message is a bit too cloudy, would it be possible to fallback to JTP if such an array is detected? I have little to no experience with java bytecode, so i am uncertain if this is viable or maybe too much work. But i think its just very strange to get the error from the jvm itself.

[2019-08-25 12:17] CoreRasurae commented on #152
@wave-b I suppose that can be done, yes... Would have to add some sort of integrity check, for such arrays and throw an exception for such unsupported use cases. Regarding the fallback... I am not sure, as that could confuse the user, making him believe that such arrays are indeed supported, but that there is just some issue with OpenCL. JTP should just mimic OpenCL devices as much as possible. JT

[2019-08-26 06:03] AlexanderFedyukov commented on #153
Good news! Thank you a lot!

[2019-09-05 19:31] maxkfranz commented on #144
Would you guys be open to a PR for this?  Thanks!

[2019-10-09 14:07] flo2000ace opened #155 "Is it possible to execute external Jar Files?"
Hey,

is it possible to execute external jar files with this tool, so that those get runned with the graphics card? If yes how should i do it, i tried to launch it per console in the Kernel.

`Kernel kernel = new Kernel(){
	          @Override
	          public void run() {
	        	  Runtime.getRuntime().exec("cmd /c start cmd.exe");
	          }
	      };`
The cmd is there only a test case, but

[2019-11-13 18:56] jchan007 commented on #148
On macOS for aparapi 1.10.0 runtime UnsatisfiedLinkError with aparapi-jni 1.3.0, 1.3.1, 1.4.0, or 1.4.1, I found that using aparapi-jni 1.4.2-SNAPSHOT, resolved the issue!

[2019-11-16 08:51] sohaibafifi commented on #148
How to use  aparapi-jni 1.4.2-SNAPSHOT ?

[2019-11-17 10:31] bmatasar commented on #148
Definitely there is an issue with the included dynamic lib.
`java.lang.UnsatisfiedLinkError: /private/var/folders/lp/8y14zffn1950wmdv5hwjqmq40000gn/T/libaparapi_x86_649204007986505769813.dylib: dlopen(/private/var/folders/lp/8y14zffn1950wmdv5hwjqmq40000gn/T/libaparapi_x86_649204007986505769813.dylib, 1): no suitable image found.  Did find:
	/private/var/folders/lp/8y14zffn1950wmdv5hwjqmq40000gn/T/

[2019-11-17 10:36] bmatasar commented on #148
Could you create the aparapi-jni 1.4.2 branch and update the pom for aparapi?
Thanks a lot!

[2019-11-17 13:39] freemo commented on #148
I've been working on that the past few days actually. Trying to get clang compiler to work right now so very soon i hope.

[2019-11-21 00:52] jchan007 commented on #148
While you're awaiting the aparapi-jni 1.4.2 branch, this worked for me by updating the Maven pom.xml dependencies:

    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <maven.compiler.source>1.8</maven.compiler.source>
        <maven.compiler.target>1.8</maven.compiler.target>
    </properties>

    <dependencies>
        <dependency>
            <gr

[2019-12-16 15:16] CoreRasurae opened #156 "Inconsistency with Barriers having workgroup sizes above 256 work items."
For some reason, on some systems, the Barriers are not working properly. Inconsistent results are returned for workgroup sizes of 1024, or 512 on some NVIDIA systems, and 8192 workgroup sizes on some CPU systems.
The failing unit test is BarrierSupportTest.

[2019-12-16 15:22] CoreRasurae commented on #156
NVIDIA NVS 4200M and NVIDIA GTX 760 pass the BarrierSupportTest on an Ubuntu 18.04 LTS, with nvidia-390, but a NVIDIA RTX 2070 is failing on a Ubuntu 16.04 LTS with Cuda 10-2, also GTX 1060 is failing on Arch linux.

[2020-01-09 15:13] NickCody opened #157 "Inconsistent scala version"
aparapi has a scala dependency of 2.13.1 and maven-scala-plugin states 2.12.6. Suggest using a single property definition and reference it everywhere. I have a PR for this if you'd like to see it.

[2020-01-09 15:21] NickCody commented on #157
Link to commit: https://github.com/NickCody/aparapi/commit/b8c87f7b852a75173b0a4ab6d32023d4b461d3a7

[2020-01-12 09:07] arminhaaf opened #158 "Access to OpenCL build options"
Some (default) optimizations break code, eg DoubleDouble or QuadFloat implementations.

[2020-01-27 09:30] Pascal66 opened #159 "Debugging errors"
Aparapi v2.0.0 Window Java 1.10
As we cant trycatch in kernel how to stacktrace an Arrayindexoutofbound error ?
Or look at the generated opencl file, wich i never found a way to see it.

janv. 27, 2020 10:25:10 AM com.aparapi.internal.kernel.KernelRunner fallBackToNextDevice
AVERTISSEMENT: Device failed for sieveK, devices={AMD<CPU>|Java Alternative Algorithm|Java Thread Pool}: java.lang.ArrayInde

[2020-01-27 10:13] Pascal66 commented on #159
I've found the first mistake I made : I'm using an external method from Kernel.
Now I've put this method inside the kernel, and I've a new error  :

janv. 27, 2020 11:10:14 AM com.aparapi.internal.kernel.KernelRunner fallBackToNextDevice
AVERTISSEMENT: Device failed for sieveK, devices={AMD<CPU>|Java Alternative Algorithm|Java Thread Pool}: Object array elements cannot contain
com.aparapi.internal

[2020-01-27 12:13] Pascal66 commented on #159
Found my error, I'm using an exteral static variable

[2020-01-27 12:13] #159 closed

[2020-01-27 19:37] yuvaldeg opened #160 "Codegen wrongfully fails on Scala-written kernels"
Consider this simple test case that has no Java objects in the Kernel:
[code]

Code generation still fails, saying: "Using java objects inside kernels is not supported", with this stacktrace:
[code]

[2020-01-27 19:46] yuvaldeg opened #161 "Scala Kernels can't handle branching"
It seems like any code resulting in branching (if, for, while, etc...) will fail to generate.
If I avoid any branches, everything works completely fine and runs on my Mac's Radeon GPU.

Consider this simple example:
[code]

This code fails with:
[code]

[2020-01-29 11:42] freemo commented on #161
Not all code structures are supported and scala is a bit less mature than java. Added as a to-do feature to look into

[2020-01-29 11:46] freemo commented on #157
This was already fixed in version 2.0.0 released, thanks though.

[2020-01-29 11:46] #157 closed

[2020-01-29 11:46] freemo commented on #160
Scala is relatively new, will investigate

[2020-01-29 11:47] freemo commented on #158
Willing to accept a PR on this. We will take a look at how to handle this in the next release.

[2020-02-26 14:57] gildasmorvan commented on #122
Problem seems fixed with v2.0.0.

[2020-02-26 14:59] freemo commented on #122
@gildasmorvan excellent!

[2020-02-26 14:59] #122 closed

[2020-02-26 16:21] CoreRasurae commented on #156
In fact I've tested NVIDIA GT 1030 on the same system and the issue above is originated by the driver version. If using NVIDIA GT 1030 with nvidia-390 drivers the tests pass. If using the same NVIDIA GT 1030 on the same system, but with nvidia-440 drivers, the above test fails.

[2020-04-12 17:04] grfrost commented on #143
I know you have closed this,  but the reason for Aparapi not working is

Tensor t1 = new Tensor(s1);

Aparapi cannot allocate in OpenCL.

[2020-07-04 09:02] rkraneis commented on #142
Same problem here. If NDRange is a multiple of available threads (12 in my case), all is fine. If not, then the results are (partially) incorrect. Tested by fiddling with ArrayTest (changing SIZE constant).

[2020-07-04 09:19] rkraneis commented on #142
### SIZE = 6 (less than number of threads)
[code]
### SIZE = 12 (number of threads)
[code]
### SIZE = 13 (number of threads + 1)
[code]
### SIZE = 23 ( 2 * number of threads - 1
[code]

From this it seems as if the final non-full batch is not calculated at all (arrays are initialized with 99 in this test).

[2020-07-04 09:27] rkraneis commented on #142
Overriding executeFallbackAlgorithm with the same code taken from run and setting SEQUENTIAL as the preferred device would work as a fallback ...

[2020-07-04 10:08] rkraneis commented on #142
This seems to be boiling down to `execute(int)` using `createRange` which uses device information to then create a range `global:23 local:(derived)12` ... When manually creating the range with a null device and yielding `global:23 local:(derived)23` also the thread pool execution leads to correct results.

[2020-07-04 11:24] rkraneis commented on #142
This optimization(?)
[code]
is only happening for `create`, but not for `create2D` nor for `create3D`. Removing it makes everything work. But there probably was originally a reason for adding it ...

[2020-07-09 18:23] CoreRasurae commented on #142
@rkraneis Thanks for your work on finding the root cause. The reason for that code being there is that Java performance is likely to be best if the number of Java Thread Pool threads doesn't exceed the CPU available cores (eventually Hyper-Threading siblings are also included in the count which is undesirable for High Performance Computing workloads, anyway). So either this is removed, since it ca

[2020-07-09 18:26] CoreRasurae commented on #142
@Helios85 Can you confirm @rkraneis theory for the root cause of this bug?

[2020-07-09 19:52] Helios85 commented on #142
@CoreRasurae  I can indeed confirm that the Java Alternative Algorithm only works if NDRange is a multiple of the available logical processors. I tested this with two machines, one with 4, the other with 8 logical processors. In the first case, NDRange had to be a multiple of 4 for the alternative algorithm to work correctly, in the second case NDRange had to be a multiple of 8.
@rkraneis Congratu

[2020-07-09 21:04] CoreRasurae commented on #142
@Helios85 Thanks for confirming this.

[2021-04-03 13:38] winsway opened #163 "Sparse Matrix"
The projection how to deal the sparse matrix.  Because sparse matrix usually need to be solved parallel on CPU or GPU. Such as Gaussian iteration.

[2021-05-02 00:47] maflores16 opened #164 "Aparapi previously working now only runs on CPU instead of GPU after driver update"
I recently did a fresh install of windows 10 and was using Aparapi with IntelliJ and the driver Windows 10 installed for my nvidia card automatically. It was working flawlessly and showing all the warnings correctly, but after installing CUDA 11.3 (and the Quadro drivers along with it), it doesn't even show the warnings that it fell back to CPU. I figured it was doing this just by looking at all m

[2021-05-03 20:23] CoreRasurae commented on #164
Please open all new issues in git.qoto.org/Aparapi/aparapi it where the bugs are being tracked now. Github is syncing to the main git.qoto.org repository. All new commits are being made there. Github now works as a mirror of git.qoto.org for the Aparapi project.
Other than that:
Can you check with GPU-Z from https://www.techpowerup.com/download/techpowerup-gpu-z/ that OpenCL tick mark is enabled?

[2021-05-09 15:09] tarsa commented on #160
In reality it has an object (i.e. the kernel accesses an object). I've created following simple test program:
[code]
Here's the decompiled output:
[code]
As you see, it created an instance of `IntRef` and uses it as a container for `var result: Int`. The reason is that in Java platform you can't access different stack frame. In Java language you can do something that looks like accessing different

[2022-05-09 15:29] yiulo opened #167 "Can be added Kernel.put(short)?"
If use Kernel.put(char), then (short)char to get negative numbers will cost performance,Can be added Kernel.put(short)?
And it would be nice to have the 8-bit unsigned integer values to kernel

[2022-06-26 23:09] Raunak-Singh-Inventor opened #168 "Nvidia RTX 3080 GPU not detected"
Hi,

Aparapi is not detecting my gpu even though I have OpenCL installed. When I run these two lines:
[code]
It gives me null pointer exception which proves that GPU is not detected.

GPU: Nvidia RTX 3080
OpenCL version: 3.0
Operating System: Pop OS (Ubuntu)

`CudaSquare.java`:
[code]

Output of `/usr/bin/clinfo`:
[code]

[2022-06-28 13:30] grfrost commented on #168
Raunak....

I looked at the Aparapi code here

https://github.com/Syncleus/aparapi-native/blob/bdfdb0b45c8a5105907500ec5cee701d92e35a19/src/cpp/invoke/OpenCLJNI.cpp#L472

Even though you have OpenCL 3.0 you should still see the message/warning

"Aparapi is running on an untested OpenCL platform version"

Have you built an OpenCL native program on this machine and had it actually execute?

Do you h

[2022-06-28 13:37] Raunak-Singh-Inventor commented on #168
@grfrost I have experience compiling with cmake on Linux.

Can you please give me the instructions to install supported version of OpenCL?

[2022-06-28 15:09] grfrost commented on #168
You probably cannot get an earlier version.

But aparapi should work on yours.

You could pull the 3 maven repos and build yourself.  That way we can add diagnostics in the native code to see what is going wrong.

Back top my earlier question.  Have you built (and ran!)  your own OpenCL C/Cpp code on this machine.  I want to make sure all the shared libs are in place.

[2022-06-28 17:02] Raunak-Singh-Inventor commented on #168
@grfrost No I have not ran my own OpenCL code. Do you have instructions where I can do that.

Also, what are the 3 maven repos you are asking me to build.

Thanks for your help.

[2022-06-30 11:31] grfrost commented on #168
Ok I just created a public github repo.

Can you clone this and build (cmake) and see if the build and  runjava.sh
script work for you?

https://github.com/grfrost/javacltest

On Tue, Jun 28, 2022 at 6:02 PM Raunak Singh ***@***.***>
wrote:

[2022-06-30 21:03] Raunak-Singh-Inventor commented on #168
@grfrost Thanks for the repository link. I ran it and got this output from `bash runjava.sh`:
[code]

[2022-07-01 09:26] grfrost commented on #168
OK so java can call jni and opencl on this machine,  Aparapi should run
just fine.

I suspect that the issue is that for some reason on this platform the
OpenCL shared lib is not on the default path/LD_LIBRARY_PATH

We need to find libOpenCL and either add it to LD_LIBRARY_PATH or tell java
where this library is when we run Aparapi.

So first lets find your libOpenCL.so

We will use linux ldd comm

[2022-07-04 10:37] Raunak-Singh-Inventor commented on #168
here is the output

[2022-07-04 11:28] Raunak-Singh-Inventor commented on #168
@grfrost after passing the command line argument I am stil getting the same error:
[code]

[2022-07-04 13:52] grfrost commented on #168
I replied to your email with pictures. ;) in case you don't get that.

I think you added -Djava.library.path=......  AFTER your class name

-Dxxxxx options are intended for the JVM not params to your code

So they appear before the class you are using

You have
/home/rauna/.jdks/openjdk-18.0.1.1/bin/java ...../scala-library-2.13.1.jar  cudaProgramming.parallel.CudaSquare  -Djava.library.path=/usr/

[2022-07-04 14:23] Raunak-Singh-Inventor commented on #168
@grfrost now I added the java argument to the JVM as you said but I am stil getting the same error. please assist:
[code]

Note: I can't see the images on my end. I just see text of image.png

[2022-07-04 14:59] grfrost commented on #168
OK I don't run using intellij.

Two things to try.
1)  Try getting rid of the intellij stuff from the above command line and
launch from the command line

/home/rauna/.jdks/openjdk-18.0.1.1/bin/java
-Djava.library.path=/usr/local/cuda-11.7/lib64/ -classpath
/home/rauna/Documents/cudaProgramming/target/classes:/home/rauna/.m2/repository/com/aparapi/aparapi/2.0.0/aparapi-2.0.0.jar:/home/rauna/.m2/re

[2022-07-06 01:36] Raunak-Singh-Inventor commented on #168
Suggestion 1) Please give me clear starightforward instructions as I don't have that much experience compiling in Maven from command line. I rely heavily on IntelliJ

Suggestion 2) didn't work even though I set the env path here:
![image](https://user-images.githubusercontent.com/46200816/177446684-23491aca-8035-4aee-acb5-e5356b6c2e83.png)

[2022-07-06 07:50] grfrost commented on #168
I have done a lot of work to try to help you.

Please read the msg i put on the  aparapi gitlab page

@mandeepsingh-private you might be able to rebuild and test using

https://github.com/grfrost/aparapi- <https://github.com/grfrost/aparapi-m1>
builder-cmake

Build and run works for me on Apple M1 and linux x64 platforms. So
hopefully it will find you NVidia CUDA OpenCL lib....

I don't generally

[2022-07-10 10:19] ghost opened #169 "Question: Support for Xeon Phi?"
### I know it had been long since the Xeon Phi had been discontinued, and there is no value in any attempts to revive the Xeon Phi, my questions below are plainly for studying purposes.

- Are Xeon Phi(s) still supported by the Aparapi project? If so, how long will it continue to receive support from this project?
- What setups/configurations will be needed for the current Aparapi project to work

[2022-07-15 20:07] Raunak-Singh-Inventor commented on #168
@grfrost I tried using CUDA C++ and it is working for me. Thanks for all of your help, I will look at this again at a later date when I'm a little more experienced :)

[2022-07-16 07:29] grfrost commented on #168
Excellent, cuda has some great tool support. It is a great way to learn the
fundamentals

Gary

On Fri, 15 Jul 2022 at 21:07, Raunak Singh ***@***.***> wrote:

[2022-10-11 09:03] grfrost commented on #168
My bad ;)

-Dxxxxx options are intended for the JVM not params to your code

So they appear before the class you are using

You have
/home/rauna/.jdks/openjdk-18.0.1.1/bin/java ...../scala-library-2.13.1.jar
cudaProgramming.parallel.CudaSquare
*-Djava.library.path=/usr/local/cuda-11.7/lib64/*

You want
/home/rauna/.jdks/openjdk-18.0.1.1/bin/java
...../scala-library-2.13.1.jar *
-Djava.library.path

[2022-10-12 22:35] #168 closed, assigned to nobody